/**
* Resources
* @module resources
*/
.tar 
	text-align right
.tal 
	text-align left 
.tac
	text-align center
.mb0
	margin-bottom 0 !important
.mb10
	margin-bottom 10px
.mb20
	margin-bottom 20px
.mb40
	margin-bottom 40px
.mt10
	margin-top 10px !important
.mt20
	margin-top 20px !important
.mt30
	margin-top 30px
.mt40
	margin-top 40px
.mt100
	margin-top 100px
.mt1000
	margin-top 1000px
.ml20
	margin-left 20px
.mr20
	margin-right 20px
.mr0
	margin-right 0
.relative
	position relative
.fs20
	font-size 20px
.fs24
	font-size 24px
.fleft
	float left
.fright
	float right
.hide 
	display none 
.cb 
	clear both 
.top60
	top 60px !important
.top160
	top 160px !important
.block
	display block
.inline_block
	display inline-block 
.lh2em
	line-height 2em
.lh0
	line-height 0
.one_half 
	col(1/2, cycle:2)
.one_third
	col(1/3, cycle:3) 
.two_thirds
	col(2/3)
.one_quarter
	col(1/4, cycle:4)
.fullsize
	col(1/1, cycle:1)

.grid_2
	col(2/12)
.grid_3
	col(3/12)
.grid_4
	col(4/12)
.grid_5
	col(5/12)
.grid_6
	col(6/12)
.grid_7
	col(7/12)
.grid_8
	col(8/12)
.grid_9
	col(9/12)
.grid_10
	col(10/12)
.grid_11
	col(11/12)

.banner_offers
	a 
		display block
		padding 1em 0
		text-align center
.bold
	font-family $family2
	transition 0.3s all ease-in

.box_info
	background #fcf8e3
	border 2px solid #EBDFC8
	color #c09853
	font-family $family1
	font-size 1em
	margin-bottom 1em
	padding 1em
	position relative
	border-radius 4px 
	&.error
		background #F2DEDE
		border 2px solid #EED3D7
		color #B94A48

.loader
	background url($imgPath + "opacity.png?version") repeat
	border-radius 0
	-webkit-border-radius 0
	-moz-border-radius 0
	-ms-border-radius 0
	-o-border-radius 0
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 9999
	&.fix
		background #fff
	span
		background url($imgPath + "loader.gif?version") no-repeat
		display block
		height 24px
		left 50%
		margin -12px 0 0 -12px
		position absolute
		top 50%
		width 24px
