.top_bar {
  height: 32px;
  background: $colorCream url("$imgPathbg_header.png?version") repeat-x center bottom;
mobile()
}
.top_bar .box_center {
  position: relative;
}
.logo {
  background: url("$imgPathlogo_ofertop.png?version") no-repeat;
  width: 120px;
  height: 100px;
  display: block;
  float: left;
  position: absolute;
  top: 10px;
  z-index: 2;
  transition: all 0.3s ease-in;
mobile()
}
.logo:hover {
  transition: all 0.3s ease-in;
  transform: scale(1.04);
  -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
}
#btnSubscribe {
  background: #b39684;
  font-size: 0.857em;
  height: 22px;
  line-height: 22px;
  margin-left: 140px;
  margin-top: 0.4em;
  padding: 0 1em;
  transition: all 0.3s ease-in;
}
#btnSubscribe span {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
#btnSubscribe:hover {
  background: #a78b7a;
  transition: all 0.3s ease-in;
}
.nav_geo {
  border-radius: 0 6px 0 0;
  float: left;
  font-family: $family2;
  margin: 23px 0 0 5px;
  padding: 8px 7px 5px;
  position: relative;
  width: 160px;
/*&:hover
		.geo_list
			display block*/
}
.nav_geo.active {
  border: 1px solid $grey40;
  background: #fff;
  width: 190px;
  border-radius: 6px 6px 0 0;
}
.nav_geo.active .geo_department {
  border-bottom: 1px solid $colorCream;
  padding-bottom: 4px;
  display: block;
}
.nav_geo.active .geo_arrow {
  display: none;
}
.nav_geo.active .geo_list {
  display: block;
  padding-top: 0;
}
.nav_geo .geo_department {
  font-size: 20px;
  line-height: 21px;
}
.nav_geo .geo_arrow {
  position: absolute;
  margin-left: 12px;
}
.nav_geo .geo_list {
  background: #fff;
  border-color: $grey40;
  border-radius: 0 0 6px 6px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  display: none;
  left: -1px;
  padding: 6px 4px 4px;
  position: absolute;
  top: 100%;
  width: 190px;
  z-index: 10;
}
.nav_geo .geo_list ul {
  overflow-y: scroll;
  position: relative;
  height: 138px;
}
.nav_geo .geo_list a {
  color: $grey60;
  display: block;
  font-size: 12px;
  padding: 2px;
  font-family: $family1;
}
.nav_geo .geo_list a:hover {
  background: $colorLightCream;
  text-decoration: none;
}
header {
  background: $colorBg;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 1px 0px 20px $grey40;
  box-shadow: 1px 0px 20px $grey40;
}
header.header_payment {
  -webkit-box-shadow: none;
  box-shadow: none;
}
header .box_center {
  overflow: visible;
}
header .main_menu {
  height: 3.3em;
}
header .breadcrumb {
  padding: 8px 0;
  margin: auto;
}
header .breadcrumb li {
  height: 24px;
}
header .breadcrumb li a {
  font-size: 12px;
  padding: 5px 10px;
}
header .breadcrumb .breadcrumb_after,
header .breadcrumb .breadcrumb_before {
  height: 24px !important;
  background-position-y: $breadcrumb_after_offset_y -3px !important;
}
header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: $colorBg;
  z-index: 999;
}
header.fixed .dropdown_menu {
  top: 30px !important;
}
header.fixed nav {
  height: 31px;
mobile()
}
header.fixed nav .option {
  line-height: 2.3em;
  height: 30px;
  font-size: 0.929em;
  padding: 0 0.8em;
tablet()
}
header.fixed nav .active {
  height: 31px;
}
header.fixed nav .main_menu {
  margin-left: 6em;
  float: left;
  height: 30px;
mobile()
}
header.fixed nav .dropdown_menu {
  left: -83px;
}
header.fixed #btnSubscribe {
  margin-left: 8em;
  transition: all 0.2s ease;
}
header.fixed .logo {
  background: url("$imgPathlogo_ofertop_small.png?version") no-repeat;
  width: 71px;
  height: 59px;
  display: block;
  float: left;
  position: absolute;
  top: 5px;
  z-index: 2;
  transition: all 0.3s ease-in;
}
header .box_header {
  height: 84px;
mobile()
}
header .slogan {
  font-size: 20px;
  margin-left: 140px;
  float: left;
  margin-top: 30px;
mobile()
}
header .social_links {
  float: right;
  margin-top: 28px;
  height: 28px;
mobile()
}
header .social_links span {
  *display: inline;
  *zoom: 1;
  color: $grey60;
  display: inline-block;
  margin-bottom: 16px;
  vertical-align: middle;
}
header .social_links a {
  margin-left: 10px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
header .social_links a:hover {
  opacity: 0.8;
}
header #btnSubscribe {
  float: left;
mobile()
}
header .btn_options {
  float: left;
  display: none;
  margin: 15px 0 0 10px;
mobile()
}
header .btn_user {
  float: right;
  display: none;
  margin: 15px 10px 0 0;
mobile()
}
header nav {
  background: $grey80;
  background: -moz-linear-gradient(top, $grey70 0%, $grey80 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $grey70), color-stop(100%, $grey80));
  background: -webkit-linear-gradient(top, $grey70 0%, $grey80 100%);
  background: -o-linear-gradient(top, $grey70 0%, $grey80 100%);
  background: -ms-linear-gradient(top, $grey70 0%, $grey80 100%);
  background: linear-gradient(to bottom, $grey70 0%, $grey80 100%);
  height: 3.214em;
mobile()
}
header nav ul {
  position: relative;
}
header nav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid $grey70;
mobile()
}
header nav li:first-child {
  border-left: none;
}
header nav li:hover .arrow_up {
  display: block;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
header nav li:hover .dropdown_menu {
  display: block;
}
header nav li .option {
  background: none;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  height: 3.214em;
  line-height: 3.214em;
  padding: 0 1em;
mobile()
}
header nav li .option:hover {
  color: #fff;
  font-family: $family2;
  transition: 0.3s all ease-in;
}
header nav li .option.active {
  background: $grey20;
  background: -moz-linear-gradient(top, $grey20 0%, $grey5 100%);
  background: -ms-linear-gradient(top, $grey20 0%, $grey5 100%);
  background: -o-linear-gradient(top, $grey20 0%, $grey5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $grey20), color-stop(100%, $grey5));
  background: -webkit-linear-gradient(top, $grey20 0%, $grey5 100%);
  background: linear-gradient(to bottom, $grey20 0%, $grey5 100%);
  color: $brandSecondary;
  transition: all 0.3s ease;
}
header nav .arrow_up {
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  display: none;
  height: 0;
  width: 0;
  z-index: 100;
  margin: -9px auto 0px auto;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
header nav .close_sub_item {
  display: none;
}
.account {
  font-family: $family2;
  float: right;
  list-style: none;
  margin: 0;
}
.account li {
  position: relative;
  float: left;
}
.account li > a {
  color: $grey80;
  display: inline-block;
  font-size: 0.857em;
  height: 32px;
  line-height: 32px;
  padding: 0 1em;
mobile()
}
.account li > a:hover,
.account li > a.active {
  background: $grey70;
  color: #fff;
}
.account li > a span:before {
  content: "\25bc";
  vertical-align: middle;
  font-size: 0.786em;
  margin-left: 5px;
}
.account li:hover .login_dropdown {
  display: block;
}
.account .login_dropdown {
  background: #fff;
  border: 4px solid $grey70;
  display: none;
  padding: 1em;
  position: absolute;
  width: 244px;
  z-index: 100;
  right: 0;
mobile()
}
.account .login_dropdown .form_control {
  margin-bottom: 1em;
}
.account .login_dropdown .form_control input {
  padding: 2px 10px;
}
.account .login_dropdown.logged p {
  padding: 0;
  margin-bottom: 1em;
  word-wrap: break-word;
  text-align: left;
}
.account .login_dropdown.logged hr {
  margin: 0.5em 0;
}
.account .login_dropdown.logged a {
  font-size: 0.857em;
  display: block;
  padding: 0.25em;
}
.account .login_dropdown .btn_small {
  padding: 0 1em;
  margin-left: 10px;
}
.account .login_dropdown .forgot_pass_link {
  font-size: 0.857em;
  display: inline-block;
  line-height: 1em;
  text-align: right;
  vertical-align: middle;
  width: 105px;
}
.account .login_dropdown p {
  font-size: 0.84em;
  color: $grey50;
  padding-top: 1em;
  text-align: center;
  margin-bottom: 0.5em;
}
.dropdown_menu {
  background: #fff;
  box-shadow: 0 4px 6px -2px $grey60;
  display: none;
  height: 20em;
  left: 0px;
  top: 44px !important;
  padding: 1em;
  position: absolute;
  width: $wrapperWidth;
  z-index: 99;
/*	
	&:before
		position absolute
		top -10px
		left auto
		display inline-block
		border-right 10px solid transparent
		border-bottom 10px solid #fff
		border-left 10px solid transparent
		border-bottom-color #fff
		content ''
		*/
}
.dropdown_menu.special {
  height: auto;
  width: $wrapperWidth;
  padding-left: 1.714em;
mobile()
}
.dropdown_menu.special a {
  width: 21.429em;
  height: 16.071em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.dropdown_menu.special a img {
  max-width: 21.429em;
  max-height: 16.071em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.dropdown_menu.special a:hover {
  color: #fff;
  background: #fff;
}
.dropdown_menu.special a:hover img {
  box-shadow: 0 0 10px #ccc;
  border: 1px solid #ccc;
}
.dropdown_menu.special div {
  margin-bottom: 0.857em;
  margin-top: 0.429em;
}
.dropdown_menu .image_column {
  float: right;
  border-left: 1px solid $grey10;
  padding-left: 5px;
}
.dropdown_menu .image_column a {
  width: 335px;
  max-height: 240px;
  min-height: 240px;
  position: relative;
  left: -10px;
  float: left;
}
.dropdown_menu .image_column a img {
  padding-left: 0px;
  max-width: 320px;
  max-height: 240px;
  position: absolute;
  left: 22px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.dropdown_menu ul {
  max-height: 255px;
  float: left;
  width: 30%;
  margin-right: 0%;
  margin-top: -5px;
mobile()
}
.dropdown_menu li {
  width: 100%;
  border: none;
mobile()
}
.dropdown_menu li:nth-child(10) {
  margin: -18.6em 0 0 25em;
  float: left;
}
.dropdown_menu li:nth-child(n+11):nth-child(-n + 18) {
  margin: 0 0 0 25em;
  position: relative;
  top: -16.5em;
}
.dropdown_menu li:nth-child(19) {
  float: left;
  margin: -35.2em 0 0 50em;
}
.dropdown_menu li:nth-child(n + 20):nth-child(-n + 27) {
  margin: 0 0 0 50em;
  position: relative;
  top: -33.2em;
}
.dropdown_menu li:nth-child(28) {
  display: hidden;
}
.dropdown_menu li a {
  color: $grey80;
  display: block;
  height: 1.571em;
  line-height: 1.571em;
  width: 92%;
  margin: 0.26em 0;
  border-radius: 6px;
  -webkit-transition: box-shadow, background 0.195s ease;
  transition: all 0.3s ease;
}
.dropdown_menu li a:hover {
  transition: all 0.3s ease;
  padding: 0 0.286em 0 0.357em;
  width: 95%;
  margin-left: -5px;
  color: $grey80;
  background: $grey10;
}
.dropdown_menu li a .quantity {
  background: $grey10;
  border-radius: 6px;
  float: right;
  font-size: 0.857em;
  height: 1.75em;
  line-height: 1.8;
  margin: 0;
  padding: 0 0.571em;
  width: 2.857em;
  text-align: center;
}
#subcategoria_mobile h2 {
  padding-left: 10px;
  margin-bottom: 0px;
}
