doctype html
html
	head
		meta(charset="utf8")
		title Recordando Backbone
		link(type="text/css", href="static/css/layouts/main/layout.css", rel="stylesheet")
		link(type="text/css", href="static/css/modules/all/all.css", rel="stylesheet")
	body
		.box_center
			h1 Recordando Backbone
		.box_center
			
		script(data-main="static/js/main", src="static/js/libs/requirejs/require.js", type="text/javascript")
