doctype html
html
	head
		meta(charset="utf8")
		title Recordando Backbone
		link(type="text/css", href="static/css/layouts/main/layout.css", rel="stylesheet")
		link(type="text/css", href="static/css/modules/all/all.css", rel="stylesheet")
	body
		.box_center
			h1 Galería
		.box_center
			ul.authors.js
				-//for indice in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

		script(id="tplAuthor", type='text/template')
			li
				a(href="{{url}}", title="{{name}}")
					img(src="http://localhost:9494/static/img/{{photo}}", alt="{{name}}")
				.options
					input(type="text", value="{{name}}")
				.tooltip
					span.name {{name}}
					span.twitter {{twitter}}
					a(href="{{url}}", title="{{name}}") {{url}}

		script(data-main="static/js/main", src="static/js/libs/requirejs/require.js", type="text/javascript")