doctype html
html
	head
		meta(charset="utf8")
		title Recordando Backbone
		link(type="text/css", href="static/css/demo.css", rel="stylesheet")
	body
		p Recordando Backbone 
		script(data-main="static/js/main", src="static/js/libs/requirejs/require.js", type="text/javascript")
