/**
* Config
* @class Config 
*/

/* Paths */
$imgPath       = '../../../img/'
$imgMediumPath = '../' + $imgPath
$imgLargePath  = '../../' + $imgPath

$fontPath      = '../../../wf/'

/* font family variables */
$family1 = gotham-book, 'arial', 'sans-serif'
$family2 = gotham-medium, 'arial', 'sans-serif'
$basefont = 14px

/* Color variables */
$brandPrimary      = #CC1316
$brandPrimaryHover = #A70000
$colorError        = #ED0A0D
$brandSecondary    = #2E2E2E
$colorBg           = $colorLightCream
$colorCream        = #E3D6C4
$colorGreen 	   = #228C00
$colorLightCream   = #F4F3EF
$colorFb           = #3D5A98
$linkActive        = #3A5899
$colorPaginationBg = #E9E9E9
$colorBorderBottom = #D0C3AF

$grey2  = #FAFAFA
$grey5  = #F2F2F2
$grey10 = #E5E5E5
$grey20 = #CCCCCC
$grey30 = #B2B2B2
$grey40 = #999999
$grey50 = #7F7F7F
$grey60 = #666666
$grey70 = #4C4C4C
$grey80 = #333333
$grey85 = #262626
$grey90 = #191919

/* Layout varibles */
$wrapperWidth = 1000px
