/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$breadcrumb_after_x = 60px;
$breadcrumb_after_y = 290px;
$breadcrumb_after_offset_x = -60px;
$breadcrumb_after_offset_y = -290px;
$breadcrumb_after_width = 20px;
$breadcrumb_after_height = 30px;
$breadcrumb_after_total_width = 385px;
$breadcrumb_after_total_height = 348px;
$breadcrumb_after_image = '../../../img/sprite.png?version';
$breadcrumb_after = 60px 290px -60px -290px 20px 30px 385px 348px '../../../img/sprite.png?version';
$breadcrumb_after_active_x = 20px;
$breadcrumb_after_active_y = 290px;
$breadcrumb_after_active_offset_x = -20px;
$breadcrumb_after_active_offset_y = -290px;
$breadcrumb_after_active_width = 20px;
$breadcrumb_after_active_height = 30px;
$breadcrumb_after_active_total_width = 385px;
$breadcrumb_after_active_total_height = 348px;
$breadcrumb_after_active_image = '../../../img/sprite.png?version';
$breadcrumb_after_active = 20px 290px -20px -290px 20px 30px 385px 348px '../../../img/sprite.png?version';
$breadcrumb_before_x = 0px;
$breadcrumb_before_y = 290px;
$breadcrumb_before_offset_x = 0px;
$breadcrumb_before_offset_y = -290px;
$breadcrumb_before_width = 20px;
$breadcrumb_before_height = 30px;
$breadcrumb_before_total_width = 385px;
$breadcrumb_before_total_height = 348px;
$breadcrumb_before_image = '../../../img/sprite.png?version';
$breadcrumb_before = 0px 290px 0px -290px 20px 30px 385px 348px '../../../img/sprite.png?version';
$breadcrumb_before_active_x = 40px;
$breadcrumb_before_active_y = 290px;
$breadcrumb_before_active_offset_x = -40px;
$breadcrumb_before_active_offset_y = -290px;
$breadcrumb_before_active_width = 20px;
$breadcrumb_before_active_height = 30px;
$breadcrumb_before_active_total_width = 385px;
$breadcrumb_before_active_total_height = 348px;
$breadcrumb_before_active_image = '../../../img/sprite.png?version';
$breadcrumb_before_active = 40px 290px -40px -290px 20px 30px 385px 348px '../../../img/sprite.png?version';
$gallery_arrow_left_x = 320px;
$gallery_arrow_left_y = 320px;
$gallery_arrow_left_offset_x = -320px;
$gallery_arrow_left_offset_y = -320px;
$gallery_arrow_left_width = 18px;
$gallery_arrow_left_height = 18px;
$gallery_arrow_left_total_width = 385px;
$gallery_arrow_left_total_height = 348px;
$gallery_arrow_left_image = '../../../img/sprite.png?version';
$gallery_arrow_left = 320px 320px -320px -320px 18px 18px 385px 348px '../../../img/sprite.png?version';
$gallery_arrow_right_x = 338px;
$gallery_arrow_right_y = 320px;
$gallery_arrow_right_offset_x = -338px;
$gallery_arrow_right_offset_y = -320px;
$gallery_arrow_right_width = 18px;
$gallery_arrow_right_height = 18px;
$gallery_arrow_right_total_width = 385px;
$gallery_arrow_right_total_height = 348px;
$gallery_arrow_right_image = '../../../img/sprite.png?version';
$gallery_arrow_right = 338px 320px -338px -320px 18px 18px 385px 348px '../../../img/sprite.png?version';
$ico_alert_x = 356px;
$ico_alert_y = 320px;
$ico_alert_offset_x = -356px;
$ico_alert_offset_y = -320px;
$ico_alert_width = 21px;
$ico_alert_height = 18px;
$ico_alert_total_width = 385px;
$ico_alert_total_height = 348px;
$ico_alert_image = '../../../img/sprite.png?version';
$ico_alert = 356px 320px -356px -320px 21px 18px 385px 348px '../../../img/sprite.png?version';
$ico_check_green_x = 240px;
$ico_check_green_y = 100px;
$ico_check_green_offset_x = -240px;
$ico_check_green_offset_y = -100px;
$ico_check_green_width = 65px;
$ico_check_green_height = 60px;
$ico_check_green_total_width = 385px;
$ico_check_green_total_height = 348px;
$ico_check_green_image = '../../../img/sprite.png?version';
$ico_check_green = 240px 100px -240px -100px 65px 60px 385px 348px '../../../img/sprite.png?version';
$ico_check_white_x = 305px;
$ico_check_white_y = 145px;
$ico_check_white_offset_x = -305px;
$ico_check_white_offset_y = -145px;
$ico_check_white_width = 14px;
$ico_check_white_height = 14px;
$ico_check_white_total_width = 385px;
$ico_check_white_total_height = 348px;
$ico_check_white_image = '../../../img/sprite.png?version';
$ico_check_white = 305px 145px -305px -145px 14px 14px 385px 348px '../../../img/sprite.png?version';
$ico_close_x = 114px;
$ico_close_y = 233px;
$ico_close_offset_x = -114px;
$ico_close_offset_y = -233px;
$ico_close_width = 16px;
$ico_close_height = 16px;
$ico_close_total_width = 385px;
$ico_close_total_height = 348px;
$ico_close_image = '../../../img/sprite.png?version';
$ico_close = 114px 233px -114px -233px 16px 16px 385px 348px '../../../img/sprite.png?version';
$ico_delete_x = 130px;
$ico_delete_y = 233px;
$ico_delete_offset_x = -130px;
$ico_delete_offset_y = -233px;
$ico_delete_width = 15px;
$ico_delete_height = 16px;
$ico_delete_total_width = 385px;
$ico_delete_total_height = 348px;
$ico_delete_image = '../../../img/sprite.png?version';
$ico_delete = 130px 233px -130px -233px 15px 16px 385px 348px '../../../img/sprite.png?version';
$ico_delivery_x = 267px;
$ico_delivery_y = 320px;
$ico_delivery_offset_x = -267px;
$ico_delivery_offset_y = -320px;
$ico_delivery_width = 29px;
$ico_delivery_height = 20px;
$ico_delivery_total_width = 385px;
$ico_delivery_total_height = 348px;
$ico_delivery_image = '../../../img/sprite.png?version';
$ico_delivery = 267px 320px -267px -320px 29px 20px 385px 348px '../../../img/sprite.png?version';
$ico_down_arrow_x = 227px;
$ico_down_arrow_y = 320px;
$ico_down_arrow_offset_x = -227px;
$ico_down_arrow_offset_y = -320px;
$ico_down_arrow_width = 20px;
$ico_down_arrow_height = 20px;
$ico_down_arrow_total_width = 385px;
$ico_down_arrow_total_height = 348px;
$ico_down_arrow_image = '../../../img/sprite.png?version';
$ico_down_arrow = 227px 320px -227px -320px 20px 20px 385px 348px '../../../img/sprite.png?version';
$ico_edit_x = 145px;
$ico_edit_y = 233px;
$ico_edit_offset_x = -145px;
$ico_edit_offset_y = -233px;
$ico_edit_width = 14px;
$ico_edit_height = 16px;
$ico_edit_total_width = 385px;
$ico_edit_total_height = 348px;
$ico_edit_image = '../../../img/sprite.png?version';
$ico_edit = 145px 233px -145px -233px 14px 16px 385px 348px '../../../img/sprite.png?version';
$ico_exclamation_x = 331px;
$ico_exclamation_y = 166px;
$ico_exclamation_offset_x = -331px;
$ico_exclamation_offset_y = -166px;
$ico_exclamation_width = 42px;
$ico_exclamation_height = 40px;
$ico_exclamation_total_width = 385px;
$ico_exclamation_total_height = 348px;
$ico_exclamation_image = '../../../img/sprite.png?version';
$ico_exclamation = 331px 166px -331px -166px 42px 40px 385px 348px '../../../img/sprite.png?version';
$ico_fb_x = 73px;
$ico_fb_y = 320px;
$ico_fb_offset_x = -73px;
$ico_fb_offset_y = -320px;
$ico_fb_width = 28px;
$ico_fb_height = 28px;
$ico_fb_total_width = 385px;
$ico_fb_total_height = 348px;
$ico_fb_image = '../../../img/sprite.png?version';
$ico_fb = 73px 320px -73px -320px 28px 28px 385px 348px '../../../img/sprite.png?version';
$ico_fb2_white_x = 373px;
$ico_fb2_white_y = 166px;
$ico_fb2_white_offset_x = -373px;
$ico_fb2_white_offset_y = -166px;
$ico_fb2_white_width = 11px;
$ico_fb2_white_height = 24px;
$ico_fb2_white_total_width = 385px;
$ico_fb2_white_total_height = 348px;
$ico_fb2_white_image = '../../../img/sprite.png?version';
$ico_fb2_white = 373px 166px -373px -166px 11px 24px 385px 348px '../../../img/sprite.png?version';
$ico_fb_white_x = 207px;
$ico_fb_white_y = 320px;
$ico_fb_white_offset_x = -207px;
$ico_fb_white_offset_y = -320px;
$ico_fb_white_width = 20px;
$ico_fb_white_height = 20px;
$ico_fb_white_total_width = 385px;
$ico_fb_white_total_height = 348px;
$ico_fb_white_image = '../../../img/sprite.png?version';
$ico_fb_white = 207px 320px -207px -320px 20px 20px 385px 348px '../../../img/sprite.png?version';
$ico_google_x = 295px;
$ico_google_y = 290px;
$ico_google_offset_x = -295px;
$ico_google_offset_y = -290px;
$ico_google_width = 28px;
$ico_google_height = 28px;
$ico_google_total_width = 385px;
$ico_google_total_height = 348px;
$ico_google_image = '../../../img/sprite.png?version';
$ico_google = 295px 290px -295px -290px 28px 28px 385px 348px '../../../img/sprite.png?version';
$ico_mail_x = 267px;
$ico_mail_y = 290px;
$ico_mail_offset_x = -267px;
$ico_mail_offset_y = -290px;
$ico_mail_width = 28px;
$ico_mail_height = 28px;
$ico_mail_total_width = 385px;
$ico_mail_total_height = 348px;
$ico_mail_image = '../../../img/sprite.png?version';
$ico_mail = 267px 290px -267px -290px 28px 28px 385px 348px '../../../img/sprite.png?version';
$ico_mail_white_x = 90px;
$ico_mail_white_y = 233px;
$ico_mail_white_offset_x = -90px;
$ico_mail_white_offset_y = -233px;
$ico_mail_white_width = 24px;
$ico_mail_white_height = 17px;
$ico_mail_white_total_width = 385px;
$ico_mail_white_total_height = 348px;
$ico_mail_white_image = '../../../img/sprite.png?version';
$ico_mail_white = 90px 233px -90px -233px 24px 17px 385px 348px '../../../img/sprite.png?version';
$ico_pay_afiliate_x = 120px;
$ico_pay_afiliate_y = 250px;
$ico_pay_afiliate_offset_x = -120px;
$ico_pay_afiliate_offset_y = -250px;
$ico_pay_afiliate_width = 80px;
$ico_pay_afiliate_height = 39px;
$ico_pay_afiliate_total_width = 385px;
$ico_pay_afiliate_total_height = 348px;
$ico_pay_afiliate_image = '../../../img/sprite.png?version';
$ico_pay_afiliate = 120px 250px -120px -250px 80px 39px 385px 348px '../../../img/sprite.png?version';
$ico_pay_master_x = 0px;
$ico_pay_master_y = 320px;
$ico_pay_master_offset_x = 0px;
$ico_pay_master_offset_y = -320px;
$ico_pay_master_width = 45px;
$ico_pay_master_height = 28px;
$ico_pay_master_total_width = 385px;
$ico_pay_master_total_height = 348px;
$ico_pay_master_image = '../../../img/sprite.png?version';
$ico_pay_master = 0px 320px 0px -320px 45px 28px 385px 348px '../../../img/sprite.png?version';
$ico_pay_pe_x = 197px;
$ico_pay_pe_y = 290px;
$ico_pay_pe_offset_x = -197px;
$ico_pay_pe_offset_y = -290px;
$ico_pay_pe_width = 70px;
$ico_pay_pe_height = 28px;
$ico_pay_pe_total_width = 385px;
$ico_pay_pe_total_height = 348px;
$ico_pay_pe_image = '../../../img/sprite.png?version';
$ico_pay_pe = 197px 290px -197px -290px 70px 28px 385px 348px '../../../img/sprite.png?version';
$ico_pay_secure_x = 310px;
$ico_pay_secure_y = 250px;
$ico_pay_secure_offset_x = -310px;
$ico_pay_secure_offset_y = -250px;
$ico_pay_secure_width = 67px;
$ico_pay_secure_height = 32px;
$ico_pay_secure_total_width = 385px;
$ico_pay_secure_total_height = 348px;
$ico_pay_secure_image = '../../../img/sprite.png?version';
$ico_pay_secure = 310px 250px -310px -250px 67px 32px 385px 348px '../../../img/sprite.png?version';
$ico_pay_verified_x = 80px;
$ico_pay_verified_y = 290px;
$ico_pay_verified_offset_x = -80px;
$ico_pay_verified_offset_y = -290px;
$ico_pay_verified_width = 47px;
$ico_pay_verified_height = 29px;
$ico_pay_verified_total_width = 385px;
$ico_pay_verified_total_height = 348px;
$ico_pay_verified_image = '../../../img/sprite.png?version';
$ico_pay_verified = 80px 290px -80px -290px 47px 29px 385px 348px '../../../img/sprite.png?version';
$ico_pay_visa_x = 127px;
$ico_pay_visa_y = 290px;
$ico_pay_visa_offset_x = -127px;
$ico_pay_visa_offset_y = -290px;
$ico_pay_visa_width = 70px;
$ico_pay_visa_height = 29px;
$ico_pay_visa_total_width = 385px;
$ico_pay_visa_total_height = 348px;
$ico_pay_visa_image = '../../../img/sprite.png?version';
$ico_pay_visa = 127px 290px -127px -290px 70px 29px 385px 348px '../../../img/sprite.png?version';
$ico_phone_x = 40px;
$ico_phone_y = 250px;
$ico_phone_offset_x = -40px;
$ico_phone_offset_y = -250px;
$ico_phone_width = 40px;
$ico_phone_height = 40px;
$ico_phone_total_width = 385px;
$ico_phone_total_height = 348px;
$ico_phone_image = '../../../img/sprite.png?version';
$ico_phone = 40px 250px -40px -250px 40px 40px 385px 348px '../../../img/sprite.png?version';
$ico_phone_white_x = 159px;
$ico_phone_white_y = 320px;
$ico_phone_white_offset_x = -159px;
$ico_phone_white_offset_y = -320px;
$ico_phone_white_width = 24px;
$ico_phone_white_height = 24px;
$ico_phone_white_total_width = 385px;
$ico_phone_white_total_height = 348px;
$ico_phone_white_image = '../../../img/sprite.png?version';
$ico_phone_white = 159px 320px -159px -320px 24px 24px 385px 348px '../../../img/sprite.png?version';
$ico_ssl_x = 305px;
$ico_ssl_y = 100px;
$ico_ssl_offset_x = -305px;
$ico_ssl_offset_y = -100px;
$ico_ssl_width = 44px;
$ico_ssl_height = 45px;
$ico_ssl_total_width = 385px;
$ico_ssl_total_height = 348px;
$ico_ssl_image = '../../../img/sprite.png?version';
$ico_ssl = 305px 100px -305px -100px 44px 45px 385px 348px '../../../img/sprite.png?version';
$ico_subscribe_x = 319px;
$ico_subscribe_y = 145px;
$ico_subscribe_offset_x = -319px;
$ico_subscribe_offset_y = -145px;
$ico_subscribe_width = 18px;
$ico_subscribe_height = 12px;
$ico_subscribe_total_width = 385px;
$ico_subscribe_total_height = 348px;
$ico_subscribe_image = '../../../img/sprite.png?version';
$ico_subscribe = 319px 145px -319px -145px 18px 12px 385px 348px '../../../img/sprite.png?version';
$ico_tab_company_x = 349px;
$ico_tab_company_y = 100px;
$ico_tab_company_offset_x = -349px;
$ico_tab_company_offset_y = -100px;
$ico_tab_company_width = 36px;
$ico_tab_company_height = 36px;
$ico_tab_company_total_width = 385px;
$ico_tab_company_total_height = 348px;
$ico_tab_company_image = '../../../img/sprite.png?version';
$ico_tab_company = 349px 100px -349px -100px 36px 36px 385px 348px '../../../img/sprite.png?version';
$ico_tab_exclamation_x = 238px;
$ico_tab_exclamation_y = 250px;
$ico_tab_exclamation_offset_x = -238px;
$ico_tab_exclamation_offset_y = -250px;
$ico_tab_exclamation_width = 36px;
$ico_tab_exclamation_height = 36px;
$ico_tab_exclamation_total_width = 385px;
$ico_tab_exclamation_total_height = 348px;
$ico_tab_exclamation_image = '../../../img/sprite.png?version';
$ico_tab_exclamation = 238px 250px -238px -250px 36px 36px 385px 348px '../../../img/sprite.png?version';
$ico_tab_info_x = 274px;
$ico_tab_info_y = 250px;
$ico_tab_info_offset_x = -274px;
$ico_tab_info_offset_y = -250px;
$ico_tab_info_width = 36px;
$ico_tab_info_height = 36px;
$ico_tab_info_total_width = 385px;
$ico_tab_info_total_height = 348px;
$ico_tab_info_image = '../../../img/sprite.png?version';
$ico_tab_info = 274px 250px -274px -250px 36px 36px 385px 348px '../../../img/sprite.png?version';
$ico_time_x = 45px;
$ico_time_y = 320px;
$ico_time_offset_x = -45px;
$ico_time_offset_y = -320px;
$ico_time_width = 28px;
$ico_time_height = 28px;
$ico_time_total_width = 385px;
$ico_time_total_height = 348px;
$ico_time_image = '../../../img/sprite.png?version';
$ico_time = 45px 320px -45px -320px 28px 28px 385px 348px '../../../img/sprite.png?version';
$ico_time_disabled_x = 323px;
$ico_time_disabled_y = 290px;
$ico_time_disabled_offset_x = -323px;
$ico_time_disabled_offset_y = -290px;
$ico_time_disabled_width = 28px;
$ico_time_disabled_height = 28px;
$ico_time_disabled_total_width = 385px;
$ico_time_disabled_total_height = 348px;
$ico_time_disabled_image = '../../../img/sprite.png?version';
$ico_time_disabled = 323px 290px -323px -290px 28px 28px 385px 348px '../../../img/sprite.png?version';
$ico_time_white_x = 183px;
$ico_time_white_y = 320px;
$ico_time_white_offset_x = -183px;
$ico_time_white_offset_y = -320px;
$ico_time_white_width = 24px;
$ico_time_white_height = 24px;
$ico_time_white_total_width = 385px;
$ico_time_white_total_height = 348px;
$ico_time_white_image = '../../../img/sprite.png?version';
$ico_time_white = 183px 320px -183px -320px 24px 24px 385px 348px '../../../img/sprite.png?version';
$ico_twitter_x = 351px;
$ico_twitter_y = 290px;
$ico_twitter_offset_x = -351px;
$ico_twitter_offset_y = -290px;
$ico_twitter_width = 28px;
$ico_twitter_height = 28px;
$ico_twitter_total_width = 385px;
$ico_twitter_total_height = 348px;
$ico_twitter_image = '../../../img/sprite.png?version';
$ico_twitter = 351px 290px -351px -290px 28px 28px 385px 348px '../../../img/sprite.png?version';
$ico_twitter_white_x = 296px;
$ico_twitter_white_y = 320px;
$ico_twitter_white_offset_x = -296px;
$ico_twitter_white_offset_y = -320px;
$ico_twitter_white_width = 24px;
$ico_twitter_white_height = 20px;
$ico_twitter_white_total_width = 385px;
$ico_twitter_white_total_height = 348px;
$ico_twitter_white_image = '../../../img/sprite.png?version';
$ico_twitter_white = 296px 320px -296px -320px 24px 20px 385px 348px '../../../img/sprite.png?version';
$ico_up_arrow_x = 247px;
$ico_up_arrow_y = 320px;
$ico_up_arrow_offset_x = -247px;
$ico_up_arrow_offset_y = -320px;
$ico_up_arrow_width = 20px;
$ico_up_arrow_height = 20px;
$ico_up_arrow_total_width = 385px;
$ico_up_arrow_total_height = 348px;
$ico_up_arrow_image = '../../../img/sprite.png?version';
$ico_up_arrow = 247px 320px -247px -320px 20px 20px 385px 348px '../../../img/sprite.png?version';
$ico_user_x = 101px;
$ico_user_y = 320px;
$ico_user_offset_x = -101px;
$ico_user_offset_y = -320px;
$ico_user_width = 26px;
$ico_user_height = 26px;
$ico_user_total_width = 385px;
$ico_user_total_height = 348px;
$ico_user_image = '../../../img/sprite.png?version';
$ico_user = 101px 320px -101px -320px 26px 26px 385px 348px '../../../img/sprite.png?version';
$menu_options_x = 127px;
$menu_options_y = 320px;
$menu_options_offset_x = -127px;
$menu_options_offset_y = -320px;
$menu_options_width = 32px;
$menu_options_height = 25px;
$menu_options_total_width = 385px;
$menu_options_total_height = 348px;
$menu_options_image = '../../../img/sprite.png?version';
$menu_options = 127px 320px -127px -320px 32px 25px 385px 348px '../../../img/sprite.png?version';
$play_it_x = 0px;
$play_it_y = 0px;
$play_it_offset_x = 0px;
$play_it_offset_y = 0px;
$play_it_width = 240px;
$play_it_height = 166px;
$play_it_total_width = 385px;
$play_it_total_height = 348px;
$play_it_image = '../../../img/sprite.png?version';
$play_it = 0px 0px 0px 0px 240px 166px 385px 348px '../../../img/sprite.png?version';
$play_it_medium_x = 240px;
$play_it_medium_y = 0px;
$play_it_medium_offset_x = -240px;
$play_it_medium_offset_y = 0px;
$play_it_medium_width = 145px;
$play_it_medium_height = 100px;
$play_it_medium_total_width = 385px;
$play_it_medium_total_height = 348px;
$play_it_medium_image = '../../../img/sprite.png?version';
$play_it_medium = 240px 0px -240px 0px 145px 100px 385px 348px '../../../img/sprite.png?version';
$play_it_small_x = 90px;
$play_it_small_y = 166px;
$play_it_small_offset_x = -90px;
$play_it_small_offset_y = -166px;
$play_it_small_width = 99px;
$play_it_small_height = 67px;
$play_it_small_total_width = 385px;
$play_it_small_total_height = 348px;
$play_it_small_image = '../../../img/sprite.png?version';
$play_it_small = 90px 166px -90px -166px 99px 67px 385px 348px '../../../img/sprite.png?version';
$scroll_top_x = 200px;
$scroll_top_y = 250px;
$scroll_top_offset_x = -200px;
$scroll_top_offset_y = -250px;
$scroll_top_width = 38px;
$scroll_top_height = 38px;
$scroll_top_total_width = 385px;
$scroll_top_total_height = 348px;
$scroll_top_image = '../../../img/sprite.png?version';
$scroll_top = 200px 250px -200px -250px 38px 38px 385px 348px '../../../img/sprite.png?version';
$slides_next_x = 80px;
$slides_next_y = 250px;
$slides_next_offset_x = -80px;
$slides_next_offset_y = -250px;
$slides_next_width = 40px;
$slides_next_height = 40px;
$slides_next_total_width = 385px;
$slides_next_total_height = 348px;
$slides_next_image = '../../../img/sprite.png?version';
$slides_next = 80px 250px -80px -250px 40px 40px 385px 348px '../../../img/sprite.png?version';
$slides_prev_x = 0px;
$slides_prev_y = 250px;
$slides_prev_offset_x = 0px;
$slides_prev_offset_y = -250px;
$slides_prev_width = 40px;
$slides_prev_height = 40px;
$slides_prev_total_width = 385px;
$slides_prev_total_height = 348px;
$slides_prev_image = '../../../img/sprite.png?version';
$slides_prev = 0px 250px 0px -250px 40px 40px 385px 348px '../../../img/sprite.png?version';
$special_x = 0px;
$special_y = 166px;
$special_offset_x = 0px;
$special_offset_y = -166px;
$special_width = 90px;
$special_height = 84px;
$special_total_width = 385px;
$special_total_height = 348px;
$special_image = '../../../img/sprite.png?version';
$special = 0px 166px 0px -166px 90px 84px 385px 348px '../../../img/sprite.png?version';
$tag_finished_x = 189px;
$tag_finished_y = 166px;
$tag_finished_offset_x = -189px;
$tag_finished_offset_y = -166px;
$tag_finished_width = 142px;
$tag_finished_height = 53px;
$tag_finished_total_width = 385px;
$tag_finished_total_height = 348px;
$tag_finished_image = '../../../img/sprite.png?version';
$tag_finished = 189px 166px -189px -166px 142px 53px 385px 348px '../../../img/sprite.png?version';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
