/**
 * Default
 * @module default
 * @author Ana Reyna
 */

@require '../../_config/*'
@require '../../_mixins/*'

html
	font-size $basefont
	+tablet()
		font-size 12px
body
	font-family $family1
	background $colorBg
	margin 0
	padding 0
	-webkit-text-size-adjust 100%
hr
	margin 1.5em 0
	text-align center
	border none
	border-bottom 1px solid $grey20
	&.medium
		border-bottom 2px solid $grey20
	&.dashed
		border 1px dashed $grey70
	&.special
		border none
		border-top 2px solid $grey10
		height 1px
		&:after
			background #fff
			color $grey10
			content "o"
			font-size 16px
			padding 0 0.25em
			position relative
			top -13px
		+mobile()
			display block
ul
	&.bullets
		list-style-type disc
		margin-left 15px !important

.box_center
	cf()
	center($wrapperWidth)
	+tablet()
		overflow hidden
	+mobile()
		overflow hidden
		h2
			margin-left 10px
	h4
		font-size 1.71em
		margin 0 0 1em 0
footer
	.box_center
		+mobile()
			margin-bottom 0px
.row 
	cf()


a
	text-decoration none
	color $linkActive
	outline 0
	&:focus
		outline 5px auto -webkit-focus-ring-color
		outline thin dotted #333
		outline-offset -2px
	&:hover, &:active
		outline 0
		color $grey80
h2, .most_recomended
	font-size 1.714em
	a 
		font-size 0.6em
		color $linkActive
		margin-left 1em
		&:hover
			color $grey80
			transition all 0.3s ease
h3 
	font-size 1em
	margin 0


#scrollUp
	sprite($scroll_top)
	bottom 20px
	right 20px
	text-indent -9999px


.campaign
	background #fff
	margin-bottom 2%
	position relative
	transition all 0.3s ease-in-out
	-webkit-transform translateZ(0px)
	transform translateZ(0px)
	.play_it
		sprite($play_it_small)
		top 35%
		left 10px
		position absolute
		z-index 1
	.special
		sprite($special)
		top 31%
		left 10px
		position absolute
		z-index 1
	&.fullsize
		.img_container
			height 30.714em
			.discount
				padding 0.28em 0.5em
				font-size 3.429em
			.play_it
				sprite($play_it)
				bottom 0
				margin 0 0 1em 1em 
				position absolute
				z-index 1
				top 58%
		.description
			font-size 1.143em
			height 3.5em
		.price
			font-size 2em
		.btn
			margin 0 0.5em
		s 
			margin 0 1em 
		.sold_campaigns
			font-size 1em 
	&.one_half
		.img_container
			height 19.429em
		.price
			margin 0 0.5em

		.special_text
			font-size 1.7em !important
		.play_it
			sprite($play_it_medium)
			top 42%
			left 10px
			position absolute
			z-index 1
	
	&.one_third
		.img_container
			height 12.857em
		.tar 
			span
				font-size 0.857em
			.price
				font-size 1.429em
	&.one_quarter
		.img_container
			height 12em
	&:hover
		box-shadow 0 1px 6px 1px $grey20
		-webkitbox-shadow 0 1px 6px 1px $grey20
		/*.photo 
			transform scale(1.02,1.02)
			-webkit-transform scale(1.02,1.02)*/
			
	.img_container
		height 19.286em
		max-width 100%
		overflow hidden
		position relative
		background url($imgPath+'ofertop_placeholder.png?version') no-repeat center center

		.discount, .special_text
			background $brandPrimary
			bottom 0.4em
			color #fff 
			font-size 2.286em
			left 0
			letter-spacing -1px 
			opacity .8
			padding 0.1em 0.5em 
			position absolute
		.special_text
			font-size 1.429em
			padding 0.4em 0.5em 
			letter-spacing 0
				
	.sticker
		position absolute
		top 29%
		left 1em
		z-index 2
	.finished 
		position absolute
		top -6px 
		right -7px 
		z-index 2
			
	.photo
		bottom 0
		left 0
		margin auto
		max-width 100%
		position absolute
		right 0
		top 0
		transition all 1s linear
	+mobile()
		col(2/2)
	.description
		color $grey80
		display block
		height 5em
		line-height 1.3em
		margin-bottom 0.857em
		overflow hidden
		padding 1em
		word-wrap break-word
		&:hover
			color $linkActive
			transition all 0.3s ease
	.tar 
		s 
			vertical-align middle

	.price
		color $brandPrimary
		font-family $family2
		font-size 1.429em
		letter-spacing -1px
		margin 0 5px 
		vertical-align middle
	.sold_campaigns
		border-top 1px dashed #ddd
		color #444
		font-size 0.786em
		margin-bottom 0
		margin-top 1.5em
		padding 0.714em 0
		text-align center
	.btn_small
		margin-right 0.75em

.fb_connect
	background $colorFb
	color #fff
	font-size 0.929em 
	line-height 22px 
	padding 5px 
	width 100%
	text-align center
	transition all 0.3s ease-in
	&:hover
		background $colorFb
		opacity .9
		transition all 0.3s ease-in
	span
		sprite($ico_fb_white)
		display inline-block
		margin-right 8px
		vertical-align middle
#boxSubscription
	display none
	width 920px
	h2 
		font-size 1.286em
		display inline-block
		vertical-align middle
		margin-top 0
	.logo_modal
		background url($imgPath + 'logo_ofertop_small.png?version')
		width 71px 
		height 59px
		display inline-block
		vertical-align middle
	form 
		font-size 0.857em
		.ioption
			width 7.5em !important
	.one_third
		width 350px
		margin-right 0
		padding 2em
		label 
			width 9.5em
		.input_medium
			width 172px !important
	.two_thirds
		width 570px
		height 470px
		margin-right 0%
		background url($imgPath + 'modal_subscribe.jpg?version')
		+mobile()
			display none
	.red
		font-size 1.3em 
		color $brandPrimary
	.btn 
		width 172px
		
$imgChannelHeight = 1000px
$colorCanalBg = #148F94
$paddingCanal = 20px

.canal_box
	left 50%
	height auto
	margin-left -954px
	position fixed
	text-align center
	top 0
	width 1908px
	min-width 1908px
	z-index 1
	.cimg
		left 0
		position absolute
		z-index 2
	.bg_canalbox
		background-color $colorCanalBg
		height 1500px
		left -446px - $paddingCanal
		position absolute
		width 900px
		z-index 1
		&.bg_right
			left 1454px + $paddingCanal
	.lnk_cleft
		display block
		height $imgChannelHeight
		left -10px - $paddingCanal
		position absolute
		top 0
		width 464px
		z-index 3
		img
			/*height $imgChannelHeight*/
			float right
			
		a
			display block
			height $imgChannelHeight
			width 464px
			outline 0
		&.cright
			left 1454px + $paddingCanal
			width 464px
			a img 
				float left 
 
// from categoria.styl

.breadcrumb
	overflow hidden
	margin-top 1.5em
	left 0
	right 0
	width $wrapperWidth
	li

		float left
		padding 0px 30px 0px 0px
		margin-right -35px
		height 40px
		a
			font-size 0.857em
			color #fff 
			background $grey70 
			padding 8px 10px
			line-height 1.2
			float left
		.breadcrumb_before
			sprite($breadcrumb_before)
			float left
		.breadcrumb_after
			sprite($breadcrumb_after)
			float left
		
		&.active			
			.breadcrumb_before
				sprite($breadcrumb_before_active)
				float left
			.breadcrumb_after
				sprite($breadcrumb_after_active)
				float left
			a 
				pointer-events none 
				cursor default
				color $grey70
				background $grey20
				font-family $family2

