/**
 * Default
 * @module default
 * @author Ana Reyna
 */
.box_center,
.campaign {
  *zoom: 1;
}
.box_center:before,
.campaign:before,
.box_center:after,
.campaign:after {
  content: '';
  display: table;
}
.box_center:after,
.campaign:after {
  clear: both;
}
html {
  font-size: 14px;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  html {
    font-size: 12px;
  }
}
body {
  font-family: gotham-book, 'arial', 'sans-serif';
  background: #f4f3ef;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}
hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
}
hr.medium {
  border-bottom: 2px solid #ccc;
}
hr.dashed {
  border: 1px dashed #4c4c4c;
}
hr.special {
  border: none;
  border-top: 2px solid #e5e5e5;
  height: 1px;
}
hr.special:after {
  background: #fff;
  color: #e5e5e5;
  content: "o";
  font-size: 16px;
  padding: 0 0.25em;
  position: relative;
  top: -13px;
}
@media only screen and (max-width: 400px) {
  hr.special {
    display: block;
  }
}
ul.bullets {
  list-style-type: disc;
  margin-left: 15px !important;
}
.box_center {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.box_center:before,
.box_center:after {
  content: '';
  display: table;
}
.box_center:after {
  clear: both;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .box_center {
    overflow: hidden;
  }
}
@media only screen and (max-width: 400px) {
  .box_center {
    overflow: hidden;
  }
  .box_center h2 {
    margin-left: 10px;
  }
}
.box_center h4 {
  font-size: 1.71em;
  margin: 0 0 1em 0;
}
@media only screen and (max-width: 400px) {
  footer .box_center {
    margin-bottom: 0px;
  }
}
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
a {
  text-decoration: none;
  color: #3a5899;
  outline: 0;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted #333;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
  color: #333;
}
h2,
.most_recomended {
  font-size: 1.714em;
}
h2 a,
.most_recomended a {
  font-size: 0.6em;
  color: #3a5899;
  margin-left: 1em;
}
h2 a:hover,
.most_recomended a:hover {
  color: #333;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
h3 {
  font-size: 1em;
  margin: 0;
}
#scrollUp {
  background-image: url("../../../img/sprite.png?version");
  background-position: -200px -250px;
  width: 38px;
  height: 38px;
  bottom: 20px;
  right: 20px;
  text-indent: -9999px;
}
.campaign {
  background: #fff;
  margin-bottom: 2%;
  position: relative;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
}
.campaign .play_it {
  background-image: url("../../../img/sprite.png?version");
  background-position: -90px -166px;
  width: 99px;
  height: 67px;
  top: 35%;
  left: 10px;
  position: absolute;
  z-index: 1;
}
.campaign .special {
  background-image: url("../../../img/sprite.png?version");
  background-position: 0px -166px;
  width: 90px;
  height: 84px;
  top: 31%;
  left: 10px;
  position: absolute;
  z-index: 1;
}
.campaign.fullsize .img_container {
  height: 30.714em;
}
.campaign.fullsize .img_container .discount {
  padding: 0.28em 0.5em;
  font-size: 3.429em;
}
.campaign.fullsize .img_container .play_it {
  background-image: url("../../../img/sprite.png?version");
  background-position: 0px 0px;
  width: 240px;
  height: 166px;
  bottom: 0;
  margin: 0 0 1em 1em;
  position: absolute;
  z-index: 1;
  top: 58%;
}
.campaign.fullsize .description {
  font-size: 1.143em;
  height: 3.5em;
}
.campaign.fullsize .price {
  font-size: 2em;
}
.campaign.fullsize .btn {
  margin: 0 0.5em;
}
.campaign.fullsize s {
  margin: 0 1em;
}
.campaign.fullsize .sold_campaigns {
  font-size: 1em;
}
.campaign.one_half .img_container {
  height: 19.429em;
}
.campaign.one_half .price {
  margin: 0 0.5em;
}
.campaign.one_half .special_text {
  font-size: 1.7em !important;
}
.campaign.one_half .play_it {
  background-image: url("../../../img/sprite.png?version");
  background-position: -240px 0px;
  width: 145px;
  height: 100px;
  top: 42%;
  left: 10px;
  position: absolute;
  z-index: 1;
}
.campaign.one_third .img_container {
  height: 12.857em;
}
.campaign.one_third .tar span {
  font-size: 0.857em;
}
.campaign.one_third .tar .price {
  font-size: 1.429em;
}
.campaign.one_quarter .img_container {
  height: 12em;
}
.campaign:hover {
  box-shadow: 0 1px 6px 1px #ccc;
  -webkit-box-shadow: 0 1px 6px 1px #ccc;
  -moz-box-shadow: 0 1px 6px 1px #ccc;
  -webkitbox-shadow: 0 1px 6px 1px #ccc;
/*.photo 
			transform scale(1.02,1.02)
			-webkit-transform scale(1.02,1.02)*/
}
.campaign .img_container {
  height: 19.286em;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background: url("../../../img/ofertop_placeholder.png?version") no-repeat center center;
}
.campaign .img_container .discount,
.campaign .img_container .special_text {
  background: #cc1316;
  bottom: 0.4em;
  color: #fff;
  font-size: 2.286em;
  left: 0;
  letter-spacing: -1px;
  opacity: 0.8;
  padding: 0.1em 0.5em;
  position: absolute;
}
.campaign .img_container .special_text {
  font-size: 1.429em;
  padding: 0.4em 0.5em;
  letter-spacing: 0;
}
.campaign .sticker {
  position: absolute;
  top: 29%;
  left: 1em;
  z-index: 2;
}
.campaign .finished {
  position: absolute;
  top: -6px;
  right: -7px;
  z-index: 2;
}
.campaign .photo {
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
}
@media only screen and (max-width: 400px) {
  .campaign {
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 2%;
  }
  .campaign:last-child {
    margin-right: 0%;
  }
}
.campaign .description {
  color: #333;
  display: block;
  height: 5em;
  line-height: 1.3em;
  margin-bottom: 0.857em;
  overflow: hidden;
  padding: 1em;
  word-wrap: break-word;
}
.campaign .description:hover {
  color: #3a5899;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.campaign .tar s {
  vertical-align: middle;
}
.campaign .price {
  color: #cc1316;
  font-family: gotham-medium, 'arial', 'sans-serif';
  font-size: 1.429em;
  letter-spacing: -1px;
  margin: 0 5px;
  vertical-align: middle;
}
.campaign .sold_campaigns {
  border-top: 1px dashed #ddd;
  color: #444;
  font-size: 0.786em;
  margin-bottom: 0;
  margin-top: 1.5em;
  padding: 0.714em 0;
  text-align: center;
}
.campaign .btn_small {
  margin-right: 0.75em;
}
.fb_connect {
  background: #3d5a98;
  color: #fff;
  font-size: 0.929em;
  line-height: 22px;
  padding: 5px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
.fb_connect:hover {
  background: #3d5a98;
  opacity: 0.9;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
.fb_connect span {
  background-image: url("../../../img/sprite.png?version");
  background-position: -207px -320px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
#boxSubscription {
  display: none;
  width: 920px;
}
#boxSubscription h2 {
  font-size: 1.286em;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
}
#boxSubscription .logo_modal {
  background: url("../../../img/logo_ofertop_small.png?version");
  width: 71px;
  height: 59px;
  display: inline-block;
  vertical-align: middle;
}
#boxSubscription form {
  font-size: 0.857em;
}
#boxSubscription form .ioption {
  width: 7.5em !important;
}
#boxSubscription .one_third {
  width: 350px;
  margin-right: 0;
  padding: 2em;
}
#boxSubscription .one_third label {
  width: 9.5em;
}
#boxSubscription .one_third .input_medium {
  width: 172px !important;
}
#boxSubscription .two_thirds {
  width: 570px;
  height: 470px;
  margin-right: 0%;
  background: url("../../../img/modal_subscribe.jpg?version");
}
@media only screen and (max-width: 400px) {
  #boxSubscription .two_thirds {
    display: none;
  }
}
#boxSubscription .red {
  font-size: 1.3em;
  color: #cc1316;
}
#boxSubscription .btn {
  width: 172px;
}
.canal_box {
  left: 50%;
  height: auto;
  margin-left: -954px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 1908px;
  min-width: 1908px;
  z-index: 1;
}
.canal_box .cimg {
  left: 0;
  position: absolute;
  z-index: 2;
}
.canal_box .bg_canalbox {
  background-color: #148f94;
  height: 1500px;
  left: -466px;
  position: absolute;
  width: 900px;
  z-index: 1;
}
.canal_box .bg_canalbox.bg_right {
  left: 1474px;
}
.canal_box .lnk_cleft {
  display: block;
  height: 1000px;
  left: -30px;
  position: absolute;
  top: 0;
  width: 464px;
  z-index: 3;
}
.canal_box .lnk_cleft img {
/*height $imgChannelHeight*/
  float: right;
}
.canal_box .lnk_cleft a {
  display: block;
  height: 1000px;
  width: 464px;
  outline: 0;
}
.canal_box .lnk_cleft.cright {
  left: 1474px;
  width: 464px;
}
.canal_box .lnk_cleft.cright a img {
  float: left;
}
.breadcrumb {
  overflow: hidden;
  margin-top: 1.5em;
  left: 0;
  right: 0;
  width: 1000px;
}
.breadcrumb li {
  float: left;
  padding: 0px 30px 0px 0px;
  margin-right: -35px;
  height: 40px;
}
.breadcrumb li a {
  font-size: 0.857em;
  color: #fff;
  background: #4c4c4c;
  padding: 8px 10px;
  line-height: 1.2;
  float: left;
}
.breadcrumb li .breadcrumb_before {
  background-image: url("../../../img/sprite.png?version");
  background-position: 0px -290px;
  width: 20px;
  height: 30px;
  float: left;
}
.breadcrumb li .breadcrumb_after {
  background-image: url("../../../img/sprite.png?version");
  background-position: -60px -290px;
  width: 20px;
  height: 30px;
  float: left;
}
.breadcrumb li.active .breadcrumb_before {
  background-image: url("../../../img/sprite.png?version");
  background-position: -40px -290px;
  width: 20px;
  height: 30px;
  float: left;
}
.breadcrumb li.active .breadcrumb_after {
  background-image: url("../../../img/sprite.png?version");
  background-position: -20px -290px;
  width: 20px;
  height: 30px;
  float: left;
}
.breadcrumb li.active a {
  pointer-events: none;
  cursor: default;
  color: #4c4c4c;
  background: #ccc;
  font-family: gotham-medium, 'arial', 'sans-serif';
}
