/**
 * All Styles Cross Website
 * @module all
 * @author Jan Sanchez
 */
.box_center,
ul.authors li {
  *zoom: 1;
}
.box_center:before,
ul.authors li:before,
.box_center:after,
ul.authors li:after {
  content: '';
  display: table;
}
.box_center:after,
ul.authors li:after {
  clear: both;
}
html {
  font-size: 14px;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  html {
    font-size: 12px;
  }
}
body {
  font-family: 'OpenSans-Regular', 'arial', 'sans-serif';
  background: #f4f3ef;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}
hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
}
hr.medium {
  border-bottom: 2px solid #ccc;
}
hr.dashed {
  border: 1px dashed #4c4c4c;
}
hr.special {
  border: none;
  border-top: 2px solid #e5e5e5;
  height: 1px;
}
hr.special:after {
  background: #fff;
  color: #e5e5e5;
  content: "o";
  font-size: 16px;
  padding: 0 0.25em;
  position: relative;
  top: -13px;
}
@media only screen and (max-width: 400px) {
  hr.special {
    display: block;
  }
}
ul.bullets {
  list-style-type: disc;
  margin-left: 15px !important;
}
.box_center {
  *zoom: 1;
  width: auto;
  max-width: 1000px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.box_center:before,
.box_center:after {
  content: '';
  display: table;
}
.box_center:after {
  clear: both;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  .box_center {
    overflow: hidden;
  }
}
@media only screen and (max-width: 400px) {
  .box_center {
    overflow: hidden;
  }
  .box_center h2 {
    margin-left: 10px;
  }
}
.box_center h4 {
  font-size: 1.71em;
  margin: 0 0 1em 0;
}
h2 {
  font-size: 1.714em;
}
h2 a {
  font-size: 0.6em;
  color: #3a5899;
  margin-left: 1em;
}
h2 a:hover {
  color: #333;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
h3 {
  font-size: 1em;
  margin: 0;
}
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
a {
  text-decoration: none;
  color: #3a5899;
  outline: 0;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted #333;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
  color: #333;
}
ul.authors li {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 15.000000000000034%;
  margin-left: 0%;
  margin-right: 2%;
  margin-bottom: 1.5%;
  margin-right: 1.5%;
  position: relative;
}
ul.authors li:nth-child(6n) {
  margin-right: 0%;
  float: right;
}
ul.authors li a img {
  height: 100%;
  width: 100%;
}
ul.authors li .tooltip {
  display: none;
}
ul.authors li .data input {
  background: transparent;
  border: 0;
  font-size: 0.9em;
  width: 99%;
}
ul.authors li .data input.editable {
  background: #fff;
  border: 2px inset;
}
ul.authors li .options {
  position: absolute;
  right: 0px;
  top: 0px;
}
ul.authors li .options img {
  height: 20px;
  width: 20px;
}
