
/**
* Layout
* @module layout
* @class footer
*/
.scroll_pagination
	padding 1em
	text-align center
	background $grey10
	width 100%
	position fixed
	left 0
	right 0
	bottom 0
	z-index 2
	-webkit-box-shadow 0 1px 6px 1px $grey40
	box-shadow 0 1px 6px 1px $grey40

	li 
		display inline-block
		*zoom 1
		*display inline  
	a, span 
		background $grey70
		color #fff
		padding 5px 10px 
		border-radius 3px 
		margin 0 2px
		&:hover, &.active 
			background $brandPrimary
			transition all 0.3s ease
			color #fff
	.disabled 
		background $grey20
		color $grey10
		pointer-events none
	.active span 
		background $brandPrimary
		transition all 0.3s ease

		
footer
	background $grey80 url($imgPath+"bg_footer.jpg?version") repeat-x center top
	color #fff
	margin-top 80px
	padding-top 70px
	position relative
	p 
		font-size 0.786em
		margin 0.5em 0

	.logo_footer
		background url($imgPath + 'logo_ofertop.png?version')
		width 120px 
		height 100px 
		position absolute
		left 0
		right 0
		margin auto
		top -50px

	.col_footer
		col(1/4, cycle: 4)
		&.contact
			p, span
				display inline-block
				*zoom 1
				*display inline
				vertical-align middle
			p
				font-size 1em 
				margin 0
				line-height 1.429em
			span
				margin-right 1em
				
			.phone
				sprite($ico_phone_white)
			.mail 
				sprite($ico_mail_white)
			a
				display block 
				line-height 1.5em
			+mobile()
				col(1/1,cycle:1)
				.data
					width 175px
					margin 0 auto 10px
				.hour
					width 183px
					margin 0 auto
					h3
						margin-top 0 !important
		&.social_networks
			+mobile()
				display none
		&.interest
			+mobile()
				display none
		&.partners
			+mobile()
				display none
	h3 
		font-size 1.143em
		margin-bottom 0.857em
	a 
		color #fff
		font-size 0.929em
		line-height 1em
		&:hover
			border-bottom 1px dashed #fff
			color #fff
		
	ul
		line-height 1em 
		li
			padding 0.357em 0
			font-size 0.929em
		&.check
			padding-left 2em
			li
				&:before
					position absolute
					margin-left -1.6em
					font-weight bold
					content "\2713"
					color #fff
	.fb
		sprite($ico_fb2_white)
		display inline-block
		*display inline
		*zoom 1
		vertical-align middle
		margin-right 1.7em
		margin-left 0.571em
	.twitter
		sprite($ico_twitter_white)
		display inline-block
		*display inline
		*zoom 1
		vertical-align middle
		margin-right 1.2em
	.schedule
		*display inline
		*zoom 1
		display inline-block
		margin-right 1.7em
		sprite($ico_time_white)
		vertical-align middle
	.payment_methods
		cf()
		text-align center
		position relative
		margin-bottom 1em
		span
			font-size 1.143em
		+mobile()
			display none
	.payment
		*display inline
		*zoom 1
		display inline-block
		margin-left 1em 
		vertical-align middle
		&:hover
			border-bottom none
		&.pe 
			sprite($ico_pay_pe)
		&.master
			sprite($ico_pay_master)
		&.verified
			sprite($ico_pay_verified)
		&.afiliate
			sprite($ico_pay_afiliate)
			position absolute
			right 0
		&.visa
			sprite($ico_pay_visa)
		&.secure
			sprite($ico_pay_secure)	
.see_also
	background #fff
	font-family Arial, sans-serif
	padding 4px 0 10px
	span
		color #666
		float left
		font-size 13px
		font-weight 700
		padding 6px 0 0 56px
	ul
		float right
		width 791px
		list-style none
		margin 0
	li
		border-left 1px solid #5F8526
		float left
		font-size 11px
		line-height 12px

		margin-top 6px
		padding 0 5px
		&:first-child
			border none
	a
		text-decoration underline
		color $linkActive
		&:hover
			color $grey70
	+mobile()
		display none
.fb_likebox
	+mobile()
		display none !important
