.top_bar
	height 32px
	background $colorCream url($imgPath+"bg_header.png?version") repeat-x center bottom
	.box_center
		position relative
	+mobile()
		background $grey80 url($imgPath+"bg_footer.jpg?version") repeat-x 0px -10px
		height 55px
		position relative
		z-index 10
.logo
	background url($imgPath + 'logo_ofertop.png?version') no-repeat
	width 120px 
	height 100px 
	display block
	float left
	position absolute
	top 10px 
	z-index 2
	transition all 0.3s ease-in
	&:hover
		transition all 0.3s ease-in
		transform scale(1.04)
		-ms-transform scale(1.04)
		-webkit-transform scale(1.04)
	+mobile()
		float none !important
		position relative !important
		margin auto
		transition none
		background url($imgPath + 'logo_ofertop_small.png?version') no-repeat
		width 71px 
		height 59px 
#btnSubscribe
	background #B39684
	font-size 0.857em
	height 22px
	line-height 22px
	margin-left 140px
	margin-top 0.4em
	padding 0 1em
	transition all 0.3s ease-in 
	span 
		*display inline
		*zoom 1
		display inline-block
		margin-left 10px
		sprite($ico_subscribe)
		vertical-align middle 
	&:hover 
		background #A78B7A
		transition all 0.3s ease-in 
.nav_geo
	border-radius 0 6px 0 0
	float left
	font-family $family2
	margin 23px 0 0 5px
	padding 8px 7px 5px
	position relative
	width 160px
	&.active
		border 1px solid $grey40
		background #fff
		width 190px 
		border-radius 6px 6px 0 0
		.geo_department
			border-bottom 1px solid $colorCream
			padding-bottom 4px
			display block
		.geo_arrow
			display none
		.geo_list
			display block
			padding-top 0
	.geo_department
		font-size 20px
		line-height 21px
	.geo_arrow
		sprite($ico_down_arrow)
		position absolute
		margin-left 12px
	/*&:hover
		.geo_list
			display block*/

	.geo_list
		background #fff
		border-color $grey40
		border-radius 0 0 6px 6px
		border-style solid
		border-width 0 1px 1px 1px
		display none
		left -1px
		padding 6px 4px 4px
		position absolute
		top 100%
		width 190px
		z-index 10
		ul
			overflow-y scroll
			position relative
			height 138px
		a
			color $grey60
			display block
			font-size 12px
			padding 2px
			font-family $family1
			&:hover
				background $colorLightCream
				text-decoration none
header 
	background $colorBg
	position relative
	z-index 10
	-webkit-box-shadow 1px 0px 20px $grey40
	box-shadow 1px 0px 20px $grey40
	&.header_payment
		-webkit-box-shadow none
		box-shadow none
	.box_center
		overflow visible
	.main_menu
		height 3.3em
	.breadcrumb 
		padding 8px 0
		margin auto 
		li 
			height 24px 
			a 
				font-size 12px
				padding 5px 10px 
		.breadcrumb_after, .breadcrumb_before
			height 24px !important
			background-position-y $breadcrumb_after_offset_y - 3px !important
	
	&.fixed
		position fixed
		top 0
		width 100%
		background $colorBg
		z-index 999
		.dropdown_menu
			top 30px !important
		nav 
			height 31px
			.option
				line-height 2.3em
				height 30px
				font-size 0.929em
				padding 0 0.8em 
				+tablet()
					line-height 2.8em
			.active 
				height 31px
			.main_menu
				margin-left 6em
				float left
				height 30px
				+mobile()
					margin-left 0
			.dropdown_menu
				left -83px
			+mobile()
				height auto
				.option
					font-size 1em
					height 3.214em
					line-height 3.214em
				.main_menu
					float none
					height auto
				.dropdown_menu
					left 0
					display none
		#btnSubscribe
			margin-left 8em
			transition all 0.2s ease
		.logo
			background url($imgPath + 'logo_ofertop_small.png?version') no-repeat
			width 71px 
			height 59px 
			display block
			float left
			position absolute
			top 5px 
			z-index 2
			transition all 0.3s ease-in

	.box_header
		height 84px
		+mobile()
			display none !important
	.slogan
		font-size 20px
		margin-left 140px
		float left
		margin-top 30px
		+mobile()
			display none
	.social_links
		float right
		margin-top 28px
		height 28px
		span 
			*display inline
			*zoom 1
			color $grey60
			display inline-block
			margin-bottom 16px
			vertical-align middle			
		a
			margin-left 10px
			display inline-block
			*zoom 1
			*display inline 
			&.fb 
				sprite($ico_fb)
			&.twitter
				sprite($ico_twitter)
			&.gplus
				sprite($ico_google)
			&:hover
				opacity .8
		+mobile()
			display none
	#btnSubscribe
		float left
		+mobile()
			display none
	.btn_options
		float left
		display none
		margin 15px 0 0 10px
		sprite($menu_options)
		+mobile()
			display block
		
	.btn_user
		float right
		display none
		margin 15px 10px 0 0
		sprite($ico_user)
		+mobile()
			display block
	nav 
		background $grey80
		background -moz-linear-gradient(top,  $grey70 0%, $grey80 100%)
		background -webkit-gradient(linear, left top, left bottom, color-stop(0%, $grey70), color-stop(100%, $grey80))
		background -webkit-linear-gradient(top,  $grey70 0%, $grey80 100%)
		background -o-linear-gradient(top,  $grey70 0%, $grey80 100%)
		background -ms-linear-gradient(top,  $grey70 0%, $grey80 100%)
		background linear-gradient(to bottom,  $grey70 0%, $grey80 100%)
		height 3.214em
		cf()
		ul 
			position relative
			cf()
		li
			float left
			list-style none
			margin 0
			padding 0
			border-left 1px solid $grey70
			&:first-child
				border-left none
		
			&:hover
				.arrow_up
					display block
					transition width .2s ease-in-out,height .2s ease-in-out
					-webkit-transition width .2s ease-in-out,height .2s ease-in-out
				.dropdown_menu
					display block
			.option
				background none
				color #fff
				display inline-block
				font-size 1em
				height 3.214em
				line-height 3.214em
				padding 0 1em 
				&:hover
					color #fff
					font-family $family2
					transition 0.3s all ease-in
				&.active
					background $grey20
					background -moz-linear-gradient(top,  $grey20 0%, $grey5 100%)
					background -ms-linear-gradient(top,  $grey20 0%, $grey5 100%)
					background -o-linear-gradient(top,  $grey20 0%, $grey5 100%)
					background -webkit-gradient(linear, left top, left bottom, color-stop(0%, $grey20), color-stop(100%, $grey5))
					background -webkit-linear-gradient(top,  $grey20 0%, $grey5 100%)
					background linear-gradient(to bottom,  $grey20 0%, $grey5 100%)
					color $brandSecondary
					transition all 0.3s ease
				+mobile()
					width 100%
			+mobile()
				width 100%
				border-bottom 1px solid #000
				&:hover
					.arrow_up
						display none
					.dropdown_menu
						display none
				.dropdown_menu
					display none
					width 100%
					height 23em
					top -568px
					overflow auto
					ul
						width 100%
					a.image_column
						display none
					li:nth-child(10), li:nth-child(n+11):nth-child(-n + 18)
						margin 0
						top 0
		.arrow_up
			border-color transparent transparent #ffffff transparent
			border-style solid
			border-width 0 9px 9px 9px
			display none
			height 0
			width 0
			z-index 100
			margin -9px auto 0px auto
			transition width .2s ease-in-out,height .2s ease-in-out
			-webkit-transition width .2s ease-in-out,height .2s ease-in-out
		.close_sub_item
			display none
		+mobile()
			display block
			width 100%
			height auto
			position absolute
			top -268px
			z-index 3
			box-shadow 0px 3px 5px 0px #3D3D3D
.account
	font-family $family2
	float right
	list-style none
	margin 0
	li
		position relative
		float left
		> a
			color $grey80
			display inline-block
			font-size 0.857em
			height 32px
			line-height 32px
			padding 0 1em
			&:hover, &.active
				background $grey70
				color #fff
			span 
				&:before
					content "\25bc"
					vertical-align middle
					font-size 0.786em
					margin-left 5px
			+mobile()
				display none
		&:hover
			.login_dropdown 
				display block

	.login_dropdown
		background #fff
		border 4px solid $grey70
		display none
		padding 1em 
		position absolute
		width 244px
		z-index 100
		right 0
		.form_control
			margin-bottom 1em 
			input
				padding 2px 10px
		&.logged
			p 
				padding 0
				margin-bottom 1em 
				word-wrap break-word
				text-align left
			hr 
				margin 0.5em 0
			a 
				font-size 0.857em
				display block
				padding 0.25em
		.btn_small 
			padding 0 1em 
			margin-left 10px
		.forgot_pass_link
			font-size 0.857em
			display inline-block
			line-height 1em
			text-align right
			vertical-align middle
			width 105px 

		p 
			font-size 0.84em
			color $grey50
			padding-top 1em
			text-align center
			margin-bottom 0.5em
		+mobile()
			display none
			top -4px
			z-index 0 !important
.dropdown_menu
	background #fff
	box-shadow 0 4px 6px -2px $grey60
	display none
	height 20em
	left 0px
	top 44px !important
	padding 1em 
	position absolute
	width $wrapperWidth
	z-index 99
	
	&.special
		height auto
		width $wrapperWidth
		padding-left 1.714em
		a			
			width 21.429em /*300px*/
			height 16.071em /*225px */
			position relative
			display inline-block
			vertical-align middle
			img				
				max-width 21.429em /*300px*/
				max-height 16.071em /*225px*/
				position absolute
				left 0
				right 0
				top 0
				bottom 0
				margin auto
		a:hover
			color white
			background white
			img 
				box-shadow 0 0 10px #ccc
				border 1px solid #ccc
		div
			column(1/3, cycle:3)
			margin-bottom 0.857em /*12px*/
			margin-top 0.429em /*6px*/
		+mobile()
			width 100%			
	.image_column
		float right
		border-left 1px solid $grey10
		padding-left 5px
		a
			width 335px
			max-height 240px
			min-height 240px
			position relative
			left -10px
			float left
			img
				padding-left 0px
				max-width 320px
				max-height 240px
				position absolute
				left 22px
				right 0
				top 0
				bottom 0
				margin auto
	/*	
	&:before
		position absolute
		top -10px
		left auto
		display inline-block
		border-right 10px solid transparent
		border-bottom 10px solid #fff
		border-left 10px solid transparent
		border-bottom-color #fff
		content ''
		*/
	ul
		max-height 255px
		float left
		width 30%
		margin-right 0%
		margin-top -5px
		+mobile()
			width 100%
			max-height 100%
	li
		width 100%
		border none
		&:nth-child(10)
			margin -18.6em 0 0 25em /*-252px 0px 0px 320px */
			float left
		&:nth-child(n+11):nth-child(-n + 18)
			margin 0 0 0 25em /*0px 0px 0px 320px*/
			position relative
			top -16.5em /*-222px*/
		&:nth-child(19)
			float left
			margin -35.2em 0 0 50em /*-476px 0px 0px 640px*/
		&:nth-child(n + 20):nth-child(-n + 27)
			margin 0 0 0 50em /* 0px 0px 0px 640px*/
			position relative
			top -33.2em /*-446px*/
		&:nth-child(28)
			display hidden
		+mobile()
			&:nth-child(n)
				margin 0 0 0.5em 0 !important
				float none !important
				position relative !important
				top 0 !important
		a
			color $grey80
			display block
			height 1.571em /*22px*/
			line-height 1.571em /*22px*/
			width 92%
			margin 0.26em 0 /*3px 0*/
			border-radius 6px
			-webkit-transition box-shadow, background 0.195s ease
			transition all 0.3s ease
			&:hover
				transition all 0.3s ease
				padding 0 0.286em 0 0.357em
				width 95%
				margin-left -5px
				color $grey80
				background $grey10
			.quantity
				background $grey10
				border-radius 6px
				float right
				font-size 0.857em
				height 1.75em /*20px*/
				line-height 1.8 /*22px*/
				margin 0
				padding 0 0.571em /* 8px*/
				width 2.857em /*40px*/
				text-align center
#subcategoria_mobile
	h2
		padding-left 10px
		margin-bottom 0px
