/**
* Layout
* @module layout
*/
.one_half,
.one_third,
.two_thirds,
.one_quarter,
.fullsize,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
footer .col_footer,
footer .col_footer.contact,
.dropdown_menu.special div {
  *zoom: 1;
}
.one_half:before,
.one_third:before,
.two_thirds:before,
.one_quarter:before,
.fullsize:before,
.grid_2:before,
.grid_3:before,
.grid_4:before,
.grid_5:before,
.grid_6:before,
.grid_7:before,
.grid_8:before,
.grid_9:before,
.grid_10:before,
.grid_11:before,
footer .col_footer:before,
footer .col_footer.contact:before,
.dropdown_menu.special div:before,
.one_half:after,
.one_third:after,
.two_thirds:after,
.one_quarter:after,
.fullsize:after,
.grid_2:after,
.grid_3:after,
.grid_4:after,
.grid_5:after,
.grid_6:after,
.grid_7:after,
.grid_8:after,
.grid_9:after,
.grid_10:after,
.grid_11:after,
footer .col_footer:after,
footer .col_footer.contact:after,
.dropdown_menu.special div:after {
  content: '';
  display: table;
}
.one_half:after,
.one_third:after,
.two_thirds:after,
.one_quarter:after,
.fullsize:after,
.grid_2:after,
.grid_3:after,
.grid_4:after,
.grid_5:after,
.grid_6:after,
.grid_7:after,
.grid_8:after,
.grid_9:after,
.grid_10:after,
.grid_11:after,
footer .col_footer:after,
footer .col_footer.contact:after,
.dropdown_menu.special div:after {
  clear: both;
}
.btn {
  *display: inline;
  *zoom: 1;
  background: #cc1316;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 1.143em/1.143em gotham-book, 'arial', 'sans-serif';
  outline: none;
  padding: 8px 20px;
  vertical-align: middle;
  transition: color, background 0.3s ease-in;
  -webkit-transition: color, background 0.3s ease-in;
  -moz-transition: color, background 0.3s ease-in;
}
.btn:hover {
  background: #a70000;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.btn.disabled {
  background: #999 !important;
  border: #eee !important;
  color: #eee !important;
  cursor: default;
  pointer-events: none;
}
.btn.disabled:hover {
  background: #ddd;
  border: #eee;
}
.btn + .btn {
  margin-left: 8px;
}
.btn_mini {
  padding: 6px 12px;
}
.btn_small {
  font-size: 1em;
  height: 1.714em;
  line-height: 1.7em;
  padding: 0 8px;
}
.btn_medium {
  font-size: 1.714em;
  height: 40px;
  line-height: 40px;
  padding: 0 2em;
}
.btn_large {
  padding: 0.5em;
  font-family: gotham-medium, 'arial', 'sans-serif';
  border-radius: 6px;
}
.btn_black {
  background: #4c4c4c;
}
.btn_black:hover {
  background: #333;
}
.btn_grey {
  background: #666;
}
.btn_grey:hover {
  background: #4c4c4c;
}
.content_baner {
  margin: 0 auto 10px;
  padding-top: 10px;
  width: 1000px;
}
.content_baner:empty {
  margin: 0 auto 0px;
  padding-top: 0px;
}
@font-face {
  font-family: "gotham-book";
  font-style: normal;
  font-weight: normal;
  src: url("../../../wf/gotham-book/gotham-book-webfont.eot");
  src: url("../../../wf/gotham-book/gotham-book-webfont.eot?#iefix") format('embedded-opentype'), url("../../../wf/gotham-book/gotham-book-webfont.woff") format('woff'), url("../../../wf/gotham-book/gotham-book-webfont.ttf") format('truetype'), url("../../../wf/gotham-book/gotham-book-webfont.svg#gotham-book") format('svg');
}
@font-face {
  font-family: "gotham-medium";
  font-style: normal;
  font-weight: normal;
  src: url("../../../wf/gotham-medium/gotham-medium-webfont.eot");
  src: url("../../../wf/gotham-medium/gotham-medium-webfont.eot?#iefix") format('embedded-opentype'), url("../../../wf/gotham-medium/gotham-medium-webfont.woff") format('woff'), url("../../../wf/gotham-medium/gotham-medium-webfont.ttf") format('truetype'), url("../../../wf/gotham-medium/gotham-medium-webfont.svg#gotham-medium") format('svg');
}
form {
  width: 100%;
  margin: 30px auto 0;
  text-align: left;
  font-size: 1em;
}
form.vertical label {
  display: block;
  float: none;
  line-height: 1.3em;
}
form.vertical label.ioption {
  float: left;
  font-size: 1em;
  margin-left: 70px;
}
form.vertical label.ioption:first-child {
  margin: 0;
}
form.vertical label.ioption.ck {
  padding-right: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}
form.vertical input[type="text"],
form.vertical input[type="email"],
form.vertical input[type="tel"],
form.vertical input[type="password"],
form.vertical select {
  width: 100%;
}
form.vertical textarea {
  width: 100%;
}
form.vertical .btn {
  margin: 0;
}
form.nolabel label {
  display: none;
}
form.nolabel label.ioption {
  display: block;
  font-size: 1em;
  line-height: 18px;
  margin-left: 60px;
  width: 80px;
}
form.nolabel label.ioption input[type="radio"] {
  top: 4px;
}
form.nolabel label.ioption:first-child {
  margin: 0;
}
form.nolabel label.ioption.ck {
  padding-right: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}
form.nolabel input[type="text"],
form.nolabel input[type="email"],
form.nolabel input[type="tel"],
form.nolabel input[type="password"],
form.nolabel select {
  width: 100%;
}
form.nolabel textarea {
  width: 100%;
}
form.nolabel .btn {
  margin: 0;
}
.form_control {
  margin-bottom: 0.5em;
  *zoom: 1;
}
.form_control .form_control_inline .form_control {
  float: left;
  margin-left: 1em;
}
.form_control .form_control_inline .form_control:first-child {
  margin-left: 0 !important;
}
.form_control:before,
.form_control:after {
  display: table;
  content: "";
  line-height: 0;
}
.form_control:after {
  clear: both;
}
.form_control label {
  margin: 0;
  float: left;
  font-size: 1em;
  line-height: 35px;
  width: 12em;
}
.form_control label.nbsp:after {
  content: "\00a0";
}
.form_control label.ioption {
  cursor: pointer;
  line-height: 35px;
  padding-left: 20px;
  position: relative;
  width: 11em;
}
.form_control label.ioption input[type="radio"],
.form_control label.ioption input[type="checkbox"] {
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
}
.form_control label.ioption.ck {
  font-size: 0.929em;
  line-height: 1.5em;
  margin-left: 12.5em;
  width: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.form_control label.ioption.ck input[type="checkbox"] {
  top: 2px;
}
.form_control label .required {
  color: #ed0a0d;
  font-size: 1.1em;
}
.form_control input[type="text"],
.form_control input[type="email"],
.form_control input[type="tel"],
.form_control input[type="password"],
.form_control select,
.form_control textarea {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font: 1em/2em gotham-book, 'arial', 'sans-serif';
  height: 30px;
  outline: none;
  padding-left: 6px;
  padding-right: 6px;
  width: 300px;
}
.form_control input[type="text"].error,
.form_control input[type="email"].error,
.form_control input[type="tel"].error,
.form_control input[type="password"].error,
.form_control select.error,
.form_control textarea.error {
  background-color: #fcdddd;
  border: 1px solid #fc7d7d;
}
.form_control input[type="text"].disabled,
.form_control input[type="email"].disabled,
.form_control input[type="tel"].disabled,
.form_control input[type="password"].disabled,
.form_control select.disabled,
.form_control textarea.disabled {
  background: #e5e5e5;
  border: 1px solid #ddd;
}
.form_control textarea {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font: 1em/2em gotham-book, 'arial', 'sans-serif';
  height: 70px;
  padding: 7px 10px;
  width: 300px;
}
.form_control textarea.error {
  background-color: #fcdddd;
  border: 1px solid #fc7d7d;
}
.input_xlarge {
  width: 500px !important;
}
.input_large {
  width: 250px !important;
}
.input_medium {
  width: 205px !important;
}
.input_small {
  width: 100px !important;
}
.input_xsmall {
  width: 80px !important;
}
[class*="grids-"] {
  float: left;
  margin-left: 20px;
}
[class*="grids-"]:first-child {
  margin: 0;
}
[class*="grids-"] .urb_title {
  font-size: 20px;
}
.grids {
  *zoom: 1;
}
.grids:before,
.grids:after {
  display: table;
  content: "";
  line-height: 0;
}
.grids:after {
  clear: both;
}
.grids .grids_4 {
  margin-top: 20px;
}
.grids .grids_4:nth-child(3n+1) {
  margin-left: 0;
}
.grids .grids_4:nth-child(-n+3) {
  margin-top: 0;
}
.grids_2 {
  width: 140px;
}
.grids_3 {
  width: 220px;
}
.grids_4 {
  width: 300px;
}
.grids_4.mt12 {
  margin-top: 12px;
}
.grids_5 {
  width: 380px;
}
.grids_6 {
  width: 460px;
}
.grids_7 {
  width: 540px;
}
.grids_8 {
  width: 620px;
}
.grids_9 {
  width: 700px;
}
.grids_9 .grids_3:nth-child(3n+1) {
  margin: 0;
}
.grids_10 {
  width: 780px;
}
@-moz-document url-prefix() {
  table {
    border-collapse: separate;
  }
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #fff;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
.fancybox-prev span,
.fancybox-next span {
  background-image: url("../../../img/plugins/fancybox_sprite.png?version");
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../../../img/loader.gif?version") center center no-repeat;
  background-size: 24px 24px;
  border-radius: 50%;
}
.fancybox-close {
  position: absolute;
  background-image: url("../../../img/sprite.png?version");
  background-position: -114px -233px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 8040;
  top: 15px;
  right: 15px;
}
.fancybox-close:hover {
  opacity: 0.7;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../../../img/plugins/blank.gif?version");
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-prev {
  left: 0;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next {
  right: 0;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../../../img/plugins/fancybox_overlay.png?version");
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.8);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url("../../../img/plugins/fancybox_sprite@2x.png?version");
    background-size: 44px 152px;
  }
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider {
  margin: 0;
  padding: 0;
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  zoom: 1;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: gotham-book, 'arial', 'sans-serif';
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
.no-js .slides > li:first-child {
  display: block;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0,0,0,0.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.flex-direction-nav a:before {
  font-family: gotham-book, 'arial', 'sans-serif';
  font-size: 40px;
  display: inline-block;
  content: '\f001';
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
  opacity: 1;
  right: 10px;
}
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  cursor: default;
}
.flex-direction-nav {
  *height: 0;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0,0,0,0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0,0,0,0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
@keyframes shake {

		0% {
			transform: translate(3px, 0);
		}

		50% {
			transform: translate(-3px, 0);
		}

		100% {
			transform: translate(0, 0);
		}
	}

	@-moz-keyframes shake {

		0% {
			-moz-transform: translate(3px, 0);
		}

		50% {
			-moz-transform: translate(-3px, 0);
		}

		100% {
			-moz-transform: translate(0, 0);
		}
	}

	@-webkit-keyframes shake {
		0% {
			-webkit-transform: translate(3px, 0);
		}

		50% {
			-webkit-transform: translate(-3px, 0);
		}

		100% {
			-webkit-transform: translate(0, 0);
		}
	}

	.shake {
		animation-name: shake;
		animation-duration: 150ms;
		animation-iteration-count: 2;
		animation-timing-function: linear;
		-moz-animation-name: shake;
		-moz-animation-duration: 150ms;
		-moz-animation-iteration-count: 2;
		-moz-animation-timing-function: linear;
		-webkit-animation-name: shake;
		-webkit-animation-duration: 150ms;
		-webkit-animation-iteration-count: 2;
		-webkit-animation-timing-function: linear;
	}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847 !important;
  background-color: #dff0d8 !important;
  border: 1px solid #a7c79b !important;
}
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #b94a48 !important;
  background-color: #f2dede !important;
  border: 1px solid #eed3d7 !important;
}
.parsley-error,
.parsley-type,
.parsley-required,
.parsley-custom-error-message {
  animation-name: shake;
  animation-duration: 150ms;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 150ms;
  -moz-animation-iteration-count: 2;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 150ms;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}
.custom_error .parsley-errors-list {
  margin-bottom: 1em;
}
.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  -moz-transition: all 0.3s ease-in !important;
  -o-transition: all 0.3s ease-in !important;
  -ms-transition: all 0.3s ease-in- !important;
  -moz-transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
}
.parsley-errors-list.filled {
  opacity: 1;
}
.parsley-errors-list:empty {
  margin: 0;
}
.parsley-errors-list li {
  font-size: 11px;
  color: #b94a4a;
}
.slider .slidesjs-container {
  z-index: -999999;
}
.slider .slidesjs-container img {
  width: 100%;
  height: 418px;
}
.slider .slidesjs-previous,
.slider .slidesjs-next {
  display: block;
  padding: 0;
  position: absolute;
  outline: 0;
  top: 50%;
  margin: -20px 0 0 0;
  z-index: 11;
  text-indent: -9999px;
  opacity: 0.3;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in;
}
.slider .slidesjs-previous:hover,
.slider .slidesjs-next:hover {
  opacity: 1;
}
.slider .slidesjs-previous {
  left: 15px;
  background-image: url("../../../img/sprite.png?version");
  background-position: 0px -250px;
  width: 40px;
  height: 40px;
}
.slider .slidesjs-next {
  right: 15px;
  background-image: url("../../../img/sprite.png?version");
  background-position: -80px -250px;
  width: 40px;
  height: 40px;
}
.navbar {
  overflow: hidden;
}
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bx-wrapper .bx-viewport {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
}
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("../../../img/loader.gif?version") center center no-repeat #f4f3ef;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: 0.85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../../../img/plugins/glide-arrows.png?version") no-repeat 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url("../../../img/plugins/glide-arrows.png?version") no-repeat -17px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  outline: 0;
  width: 18px;
  height: 28px;
  text-indent: -9999px;
  z-index: 500;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 9;
  background: rgba(80,80,80,0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: 0.85em;
  padding: 10px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
.nano {
  position: relative;
  width: 100%;
  height: 335px;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .nano-pane {
  background: url("../../../img/scroll_bg.png?version") center top repeat-y;
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden 9;
/* Target only IE7 and IE8 with this hack */
  opacity: 0.01;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #d0c3af;
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible 9;
/* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
.ps-container .ps-scrollbar-x-rail {
  position: absolute;
  bottom: 3px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
}
.ps-container .ps-scrollbar-x-rail.in-scrolling {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container .ps-scrollbar-y-rail {
  background: #b39684;
  border-radius: 4px;
  position: absolute;
  right: 3px;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container .ps-scrollbar-x {
  position: absolute;
  bottom: 0;
  height: 8px;
  background-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
}
.ps-container.ie6 .ps-scrollbar-x {
  font-size: 0;
}
.ps-container.ie6 .ps-scrollbar-y {
  font-size: 0;
}
.ps-container .ps-scrollbar-y {
  position: absolute;
  right: -3px;
  width: 10px;
  background-color: #b39684;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}
body {
  min-width: 1000px;
}
@media only screen and (max-width: 400px) {
  body {
    min-width: 0px;
  }
}
a:hover,
a:active {
  outline: 0;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
  line-height: 1.5em;
}
img {
  max-width: 100%;
  width: auto 9;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
form {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
b,
strong {
  font-family: gotham-medium, 'arial', 'sans-serif';
  font-weight: normal;
}
p {
  margin: 0;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.5em;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb40 {
  margin-bottom: 40px;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt100 {
  margin-top: 100px;
}
.mt1000 {
  margin-top: 1000px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mr0 {
  margin-right: 0;
}
.relative {
  position: relative;
}
.fs20 {
  font-size: 20px;
}
.fs24 {
  font-size: 24px;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.hide {
  display: none;
}
.cb {
  clear: both;
}
.top60 {
  top: 60px !important;
}
.top160 {
  top: 160px !important;
}
.block {
  display: block;
}
.inline_block {
  display: inline-block;
}
.lh2em {
  line-height: 2em;
}
.lh0 {
  line-height: 0;
}
.one_half {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 49%;
  margin-left: 0%;
  margin-right: 2%;
}
.one_half:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.one_third {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.999999999999964%;
  margin-left: 0%;
  margin-right: 2%;
}
.one_third:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.two_thirds {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 66.00000000000003%;
  margin-left: 0%;
  margin-right: 2%;
}
.two_thirds:last-child {
  margin-right: 0%;
}
.one_quarter {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 23.5%;
  margin-left: 0%;
  margin-right: 2%;
}
.one_quarter:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
.fullsize {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 2%;
}
.fullsize:nth-child(1n) {
  margin-right: 0%;
  float: right;
}
.grid_2 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 15.000000000000034%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_2:last-child {
  margin-right: 0%;
}
.grid_3 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 23.5%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_3:last-child {
  margin-right: 0%;
}
.grid_4 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.999999999999964%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_4:last-child {
  margin-right: 0%;
}
.grid_5 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 40.500000000000036%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_5:last-child {
  margin-right: 0%;
}
.grid_6 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 49%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_6:last-child {
  margin-right: 0%;
}
.grid_7 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 57.499999999999964%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_7:last-child {
  margin-right: 0%;
}
.grid_8 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 66.00000000000003%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_8:last-child {
  margin-right: 0%;
}
.grid_9 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.5%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_9:last-child {
  margin-right: 0%;
}
.grid_10 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 82.99999999999997%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_10:last-child {
  margin-right: 0%;
}
.grid_11 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 91.50000000000003%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_11:last-child {
  margin-right: 0%;
}
.banner_offers a {
  display: block;
  padding: 1em 0;
  text-align: center;
}
.bold {
  font-family: gotham-medium, 'arial', 'sans-serif';
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
}
.box_info {
  background: #fcf8e3;
  border: 2px solid #ebdfc8;
  color: #c09853;
  font-family: gotham-book, 'arial', 'sans-serif';
  font-size: 1em;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
  border-radius: 4px;
}
.box_info.error {
  background: #f2dede;
  border: 2px solid #eed3d7;
  color: #b94a48;
}
.loader {
  background: url("../../../img/opacity.png?version") repeat;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.loader.fix {
  background: #fff;
}
.loader span {
  background: url("../../../img/loader.gif?version") no-repeat;
  display: block;
  height: 24px;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 24px;
}
.scroll_pagination {
  padding: 1em;
  text-align: center;
  background: #e5e5e5;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  -webkit-box-shadow: 0 1px 6px 1px #999;
  box-shadow: 0 1px 6px 1px #999;
  -webkit-box-shadow: 0 1px 6px 1px #999;
  -moz-box-shadow: 0 1px 6px 1px #999;
}
.scroll_pagination li {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.scroll_pagination a,
.scroll_pagination span {
  background: #4c4c4c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 0 2px;
}
.scroll_pagination a:hover,
.scroll_pagination span:hover,
.scroll_pagination a.active,
.scroll_pagination span.active {
  background: #cc1316;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  color: #fff;
}
.scroll_pagination .disabled {
  background: #ccc;
  color: #e5e5e5;
  pointer-events: none;
}
.scroll_pagination .active span {
  background: #cc1316;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
footer {
  background: #333 url("../../../img/bg_footer.jpg?version") repeat-x center top;
  color: #fff;
  margin-top: 80px;
  padding-top: 70px;
  position: relative;
}
footer p {
  font-size: 0.786em;
  margin: 0.5em 0;
}
footer .logo_footer {
  background: url("../../../img/logo_ofertop.png?version");
  width: 120px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -50px;
}
footer .col_footer {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 23.5%;
  margin-left: 0%;
  margin-right: 2%;
}
footer .col_footer:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
footer .col_footer.contact p,
footer .col_footer.contact span {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
footer .col_footer.contact p {
  font-size: 1em;
  margin: 0;
  line-height: 1.429em;
}
footer .col_footer.contact span {
  margin-right: 1em;
}
footer .col_footer.contact .phone {
  background-image: url("../../../img/sprite.png?version");
  background-position: -159px -320px;
  width: 24px;
  height: 24px;
}
footer .col_footer.contact .mail {
  background-image: url("../../../img/sprite.png?version");
  background-position: -90px -233px;
  width: 24px;
  height: 17px;
}
footer .col_footer.contact a {
  display: block;
  line-height: 1.5em;
}
@media only screen and (max-width: 400px) {
  footer .col_footer.contact {
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: 0%;
    margin-right: 2%;
  }
  footer .col_footer.contact:nth-child(1n) {
    margin-right: 0%;
    float: right;
  }
  footer .col_footer.contact .data {
    width: 175px;
    margin: 0 auto 10px;
  }
  footer .col_footer.contact .hour {
    width: 183px;
    margin: 0 auto;
  }
  footer .col_footer.contact .hour h3 {
    margin-top: 0 !important;
  }
}
@media only screen and (max-width: 400px) {
  footer .col_footer.social_networks {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  footer .col_footer.interest {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  footer .col_footer.partners {
    display: none;
  }
}
footer h3 {
  font-size: 1.143em;
  margin-bottom: 0.857em;
}
footer a {
  color: #fff;
  font-size: 0.929em;
  line-height: 1em;
}
footer a:hover {
  border-bottom: 1px dashed #fff;
  color: #fff;
}
footer ul {
  line-height: 1em;
}
footer ul li {
  padding: 0.357em 0;
  font-size: 0.929em;
}
footer ul.check {
  padding-left: 2em;
}
footer ul.check li:before {
  position: absolute;
  margin-left: -1.6em;
  font-weight: bold;
  content: "\2713";
  color: #fff;
}
footer .fb {
  background-image: url("../../../img/sprite.png?version");
  background-position: -373px -166px;
  width: 11px;
  height: 24px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-right: 1.7em;
  margin-left: 0.571em;
}
footer .twitter {
  background-image: url("../../../img/sprite.png?version");
  background-position: -296px -320px;
  width: 24px;
  height: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-right: 1.2em;
}
footer .schedule {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  margin-right: 1.7em;
  background-image: url("../../../img/sprite.png?version");
  background-position: -183px -320px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
footer .payment_methods {
  *zoom: 1;
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}
footer .payment_methods:before,
footer .payment_methods:after {
  content: '';
  display: table;
}
footer .payment_methods:after {
  clear: both;
}
footer .payment_methods span {
  font-size: 1.143em;
}
@media only screen and (max-width: 400px) {
  footer .payment_methods {
    display: none;
  }
}
footer .payment {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  margin-left: 1em;
  vertical-align: middle;
}
footer .payment:hover {
  border-bottom: none;
}
footer .payment.pe {
  background-image: url("../../../img/sprite.png?version");
  background-position: -197px -290px;
  width: 70px;
  height: 28px;
}
footer .payment.master {
  background-image: url("../../../img/sprite.png?version");
  background-position: 0px -320px;
  width: 45px;
  height: 28px;
}
footer .payment.verified {
  background-image: url("../../../img/sprite.png?version");
  background-position: -80px -290px;
  width: 47px;
  height: 29px;
}
footer .payment.afiliate {
  background-image: url("../../../img/sprite.png?version");
  background-position: -120px -250px;
  width: 80px;
  height: 39px;
  position: absolute;
  right: 0;
}
footer .payment.visa {
  background-image: url("../../../img/sprite.png?version");
  background-position: -127px -290px;
  width: 70px;
  height: 29px;
}
footer .payment.secure {
  background-image: url("../../../img/sprite.png?version");
  background-position: -310px -250px;
  width: 67px;
  height: 32px;
}
.see_also {
  background: #fff;
  font-family: Arial, sans-serif;
  padding: 4px 0 10px;
}
.see_also span {
  color: #666;
  float: left;
  font-size: 13px;
  font-weight: 700;
  padding: 6px 0 0 56px;
}
.see_also ul {
  float: right;
  width: 791px;
  list-style: none;
  margin: 0;
}
.see_also li {
  border-left: 1px solid #5f8526;
  float: left;
  font-size: 11px;
  line-height: 12px;
  margin-top: 6px;
  padding: 0 5px;
}
.see_also li:first-child {
  border: none;
}
.see_also a {
  text-decoration: underline;
  color: #3a5899;
}
.see_also a:hover {
  color: #4c4c4c;
}
@media only screen and (max-width: 400px) {
  .see_also {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .fb_likebox {
    display: none !important;
  }
}
.top_bar {
  height: 32px;
  background: #e3d6c4 url("../../../img/bg_header.png?version") repeat-x center bottom;
}
.top_bar .box_center {
  position: relative;
}
@media only screen and (max-width: 400px) {
  .top_bar {
    background: #333 url("../../../img/bg_footer.jpg?version") repeat-x 0px -10px;
    height: 55px;
    position: relative;
    z-index: 10;
  }
}
.logo {
  background: url("../../../img/logo_ofertop.png?version") no-repeat;
  width: 120px;
  height: 100px;
  display: block;
  float: left;
  position: absolute;
  top: 10px;
  z-index: 2;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
.logo:hover {
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
}
@media only screen and (max-width: 400px) {
  .logo {
    float: none !important;
    position: relative !important;
    margin: auto;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    background: url("../../../img/logo_ofertop_small.png?version") no-repeat;
    width: 71px;
    height: 59px;
  }
}
#btnSubscribe {
  background: #b39684;
  font-size: 0.857em;
  height: 22px;
  line-height: 22px;
  margin-left: 140px;
  margin-top: 0.4em;
  padding: 0 1em;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#btnSubscribe span {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  margin-left: 10px;
  background-image: url("../../../img/sprite.png?version");
  background-position: -319px -145px;
  width: 18px;
  height: 12px;
  vertical-align: middle;
}
#btnSubscribe:hover {
  background: #a78b7a;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
.nav_geo {
  border-radius: 0 6px 0 0;
  float: left;
  font-family: gotham-medium, 'arial', 'sans-serif';
  margin: 23px 0 0 5px;
  padding: 8px 7px 5px;
  position: relative;
  width: 160px;
/*&:hover
		.geo_list
			display block*/
}
.nav_geo.active {
  border: 1px solid #999;
  background: #fff;
  width: 190px;
  border-radius: 6px 6px 0 0;
}
.nav_geo.active .geo_department {
  border-bottom: 1px solid #e3d6c4;
  padding-bottom: 4px;
  display: block;
}
.nav_geo.active .geo_arrow {
  display: none;
}
.nav_geo.active .geo_list {
  display: block;
  padding-top: 0;
}
.nav_geo .geo_department {
  font-size: 20px;
  line-height: 21px;
}
.nav_geo .geo_arrow {
  background-image: url("../../../img/sprite.png?version");
  background-position: -227px -320px;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 12px;
}
.nav_geo .geo_list {
  background: #fff;
  border-color: #999;
  border-radius: 0 0 6px 6px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  display: none;
  left: -1px;
  padding: 6px 4px 4px;
  position: absolute;
  top: 100%;
  width: 190px;
  z-index: 10;
}
.nav_geo .geo_list ul {
  overflow-y: scroll;
  position: relative;
  height: 138px;
}
.nav_geo .geo_list a {
  color: #666;
  display: block;
  font-size: 12px;
  padding: 2px;
  font-family: gotham-book, 'arial', 'sans-serif';
}
.nav_geo .geo_list a:hover {
  background: #f4f3ef;
  text-decoration: none;
}
header {
  background: #f4f3ef;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 1px 0px 20px #999;
  box-shadow: 1px 0px 20px #999;
  -webkit-box-shadow: 1px 0px 20px #999;
  -moz-box-shadow: 1px 0px 20px #999;
}
header.header_payment {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
header .box_center {
  overflow: visible;
}
header .main_menu {
  height: 3.3em;
}
header .breadcrumb {
  padding: 8px 0;
  margin: auto;
}
header .breadcrumb li {
  height: 24px;
}
header .breadcrumb li a {
  font-size: 12px;
  padding: 5px 10px;
}
header .breadcrumb .breadcrumb_after,
header .breadcrumb .breadcrumb_before {
  height: 24px !important;
  background-position-y: -293px !important;
}
header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f4f3ef;
  z-index: 999;
}
header.fixed .dropdown_menu {
  top: 30px !important;
}
header.fixed nav {
  height: 31px;
}
header.fixed nav .option {
  line-height: 2.3em;
  height: 30px;
  font-size: 0.929em;
  padding: 0 0.8em;
}
@media only screen and (min-width: 400px) and (max-width: 1050px) {
  header.fixed nav .option {
    line-height: 2.8em;
  }
}
header.fixed nav .active {
  height: 31px;
}
header.fixed nav .main_menu {
  margin-left: 6em;
  float: left;
  height: 30px;
}
@media only screen and (max-width: 400px) {
  header.fixed nav .main_menu {
    margin-left: 0;
  }
}
header.fixed nav .dropdown_menu {
  left: -83px;
}
@media only screen and (max-width: 400px) {
  header.fixed nav {
    height: auto;
  }
  header.fixed nav .option {
    font-size: 1em;
    height: 3.214em;
    line-height: 3.214em;
  }
  header.fixed nav .main_menu {
    float: none;
    height: auto;
  }
  header.fixed nav .dropdown_menu {
    left: 0;
    display: none;
  }
}
header.fixed #btnSubscribe {
  margin-left: 8em;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
header.fixed .logo {
  background: url("../../../img/logo_ofertop_small.png?version") no-repeat;
  width: 71px;
  height: 59px;
  display: block;
  float: left;
  position: absolute;
  top: 5px;
  z-index: 2;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
header .box_header {
  height: 84px;
}
@media only screen and (max-width: 400px) {
  header .box_header {
    display: none !important;
  }
}
header .slogan {
  font-size: 20px;
  margin-left: 140px;
  float: left;
  margin-top: 30px;
}
@media only screen and (max-width: 400px) {
  header .slogan {
    display: none;
  }
}
header .social_links {
  float: right;
  margin-top: 28px;
  height: 28px;
}
header .social_links span {
  *display: inline;
  *zoom: 1;
  color: #666;
  display: inline-block;
  margin-bottom: 16px;
  vertical-align: middle;
}
header .social_links a {
  margin-left: 10px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
header .social_links a.fb {
  background-image: url("../../../img/sprite.png?version");
  background-position: -73px -320px;
  width: 28px;
  height: 28px;
}
header .social_links a.twitter {
  background-image: url("../../../img/sprite.png?version");
  background-position: -351px -290px;
  width: 28px;
  height: 28px;
}
header .social_links a.gplus {
  background-image: url("../../../img/sprite.png?version");
  background-position: -295px -290px;
  width: 28px;
  height: 28px;
}
header .social_links a:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 400px) {
  header .social_links {
    display: none;
  }
}
header #btnSubscribe {
  float: left;
}
@media only screen and (max-width: 400px) {
  header #btnSubscribe {
    display: none;
  }
}
header .btn_options {
  float: left;
  display: none;
  margin: 15px 0 0 10px;
  background-image: url("../../../img/sprite.png?version");
  background-position: -127px -320px;
  width: 32px;
  height: 25px;
}
@media only screen and (max-width: 400px) {
  header .btn_options {
    display: block;
  }
}
header .btn_user {
  float: right;
  display: none;
  margin: 15px 10px 0 0;
  background-image: url("../../../img/sprite.png?version");
  background-position: -101px -320px;
  width: 26px;
  height: 26px;
}
@media only screen and (max-width: 400px) {
  header .btn_user {
    display: block;
  }
}
header nav {
  background: #333;
  background: -moz-linear-gradient(top, #4c4c4c 0%, #333 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #333));
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #333 100%);
  background: -o-linear-gradient(top, #4c4c4c 0%, #333 100%);
  background: -ms-linear-gradient(top, #4c4c4c 0%, #333 100%);
  background: linear-gradient(to bottom, #4c4c4c 0%, #333 100%);
  height: 3.214em;
  *zoom: 1;
}
header nav:before,
header nav:after {
  content: '';
  display: table;
}
header nav:after {
  clear: both;
}
header nav ul {
  position: relative;
  *zoom: 1;
}
header nav ul:before,
header nav ul:after {
  content: '';
  display: table;
}
header nav ul:after {
  clear: both;
}
header nav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #4c4c4c;
}
header nav li:first-child {
  border-left: none;
}
header nav li:hover .arrow_up {
  display: block;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
header nav li:hover .dropdown_menu {
  display: block;
}
header nav li .option {
  background: none;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  height: 3.214em;
  line-height: 3.214em;
  padding: 0 1em;
}
header nav li .option:hover {
  color: #fff;
  font-family: gotham-medium, 'arial', 'sans-serif';
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
}
header nav li .option.active {
  background: #ccc;
  background: -moz-linear-gradient(top, #ccc 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #ccc 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #ccc 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #ccc 0%, #f2f2f2 100%);
  background: linear-gradient(to bottom, #ccc 0%, #f2f2f2 100%);
  color: #2e2e2e;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
@media only screen and (max-width: 400px) {
  header nav li .option {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  header nav li {
    width: 100%;
    border-bottom: 1px solid #000;
  }
  header nav li:hover .arrow_up {
    display: none;
  }
  header nav li:hover .dropdown_menu {
    display: none;
  }
  header nav li .dropdown_menu {
    display: none;
    width: 100%;
    height: 23em;
    top: -568px;
    overflow: auto;
  }
  header nav li .dropdown_menu ul {
    width: 100%;
  }
  header nav li .dropdown_menu a.image_column {
    display: none;
  }
  header nav li .dropdown_menu li:nth-child(10),
  header nav li .dropdown_menu li:nth-child(n+11):nth-child(-n + 18) {
    margin: 0;
    top: 0;
  }
}
header nav .arrow_up {
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  display: none;
  height: 0;
  width: 0;
  z-index: 100;
  margin: -9px auto 0px auto;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
header nav .close_sub_item {
  display: none;
}
@media only screen and (max-width: 400px) {
  header nav {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: -268px;
    z-index: 3;
    box-shadow: 0px 3px 5px 0px #3d3d3d;
    -webkit-box-shadow: 0px 3px 5px 0px #3d3d3d;
    -moz-box-shadow: 0px 3px 5px 0px #3d3d3d;
  }
}
.account {
  font-family: gotham-medium, 'arial', 'sans-serif';
  float: right;
  list-style: none;
  margin: 0;
}
.account li {
  position: relative;
  float: left;
}
.account li > a {
  color: #333;
  display: inline-block;
  font-size: 0.857em;
  height: 32px;
  line-height: 32px;
  padding: 0 1em;
}
.account li > a:hover,
.account li > a.active {
  background: #4c4c4c;
  color: #fff;
}
.account li > a span:before {
  content: "\25bc";
  vertical-align: middle;
  font-size: 0.786em;
  margin-left: 5px;
}
@media only screen and (max-width: 400px) {
  .account li > a {
    display: none;
  }
}
.account li:hover .login_dropdown {
  display: block;
}
.account .login_dropdown {
  background: #fff;
  border: 4px solid #4c4c4c;
  display: none;
  padding: 1em;
  position: absolute;
  width: 244px;
  z-index: 100;
  right: 0;
}
.account .login_dropdown .form_control {
  margin-bottom: 1em;
}
.account .login_dropdown .form_control input {
  padding: 2px 10px;
}
.account .login_dropdown.logged p {
  padding: 0;
  margin-bottom: 1em;
  word-wrap: break-word;
  text-align: left;
}
.account .login_dropdown.logged hr {
  margin: 0.5em 0;
}
.account .login_dropdown.logged a {
  font-size: 0.857em;
  display: block;
  padding: 0.25em;
}
.account .login_dropdown .btn_small {
  padding: 0 1em;
  margin-left: 10px;
}
.account .login_dropdown .forgot_pass_link {
  font-size: 0.857em;
  display: inline-block;
  line-height: 1em;
  text-align: right;
  vertical-align: middle;
  width: 105px;
}
.account .login_dropdown p {
  font-size: 0.84em;
  color: #7f7f7f;
  padding-top: 1em;
  text-align: center;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 400px) {
  .account .login_dropdown {
    display: none;
    top: -4px;
    z-index: 0 !important;
  }
}
.dropdown_menu {
  background: #fff;
  box-shadow: 0 4px 6px -2px #666;
  -webkit-box-shadow: 0 4px 6px -2px #666;
  -moz-box-shadow: 0 4px 6px -2px #666;
  display: none;
  height: 20em;
  left: 0px;
  top: 44px !important;
  padding: 1em;
  position: absolute;
  width: 1000px;
  z-index: 99;
/*	
	&:before
		position absolute
		top -10px
		left auto
		display inline-block
		border-right 10px solid transparent
		border-bottom 10px solid #fff
		border-left 10px solid transparent
		border-bottom-color #fff
		content ''
		*/
}
.dropdown_menu.special {
  height: auto;
  width: 1000px;
  padding-left: 1.714em;
}
.dropdown_menu.special a {
  width: 21.429em;
  height: 16.071em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.dropdown_menu.special a img {
  max-width: 21.429em;
  max-height: 16.071em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.dropdown_menu.special a:hover {
  color: #fff;
  background: #fff;
}
.dropdown_menu.special a:hover img {
  box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  border: 1px solid #ccc;
}
.dropdown_menu.special div {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.999999999999964%;
  margin-left: 0%;
  margin-right: 2%;
  margin-bottom: 0.857em;
  margin-top: 0.429em;
}
.dropdown_menu.special div:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
@media only screen and (max-width: 400px) {
  .dropdown_menu.special {
    width: 100%;
  }
}
.dropdown_menu .image_column {
  float: right;
  border-left: 1px solid #e5e5e5;
  padding-left: 5px;
}
.dropdown_menu .image_column a {
  width: 335px;
  max-height: 240px;
  min-height: 240px;
  position: relative;
  left: -10px;
  float: left;
}
.dropdown_menu .image_column a img {
  padding-left: 0px;
  max-width: 320px;
  max-height: 240px;
  position: absolute;
  left: 22px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.dropdown_menu ul {
  max-height: 255px;
  float: left;
  width: 30%;
  margin-right: 0%;
  margin-top: -5px;
}
@media only screen and (max-width: 400px) {
  .dropdown_menu ul {
    width: 100%;
    max-height: 100%;
  }
}
.dropdown_menu li {
  width: 100%;
  border: none;
}
.dropdown_menu li:nth-child(10) {
  margin: -18.6em 0 0 25em;
  float: left;
}
.dropdown_menu li:nth-child(n+11):nth-child(-n + 18) {
  margin: 0 0 0 25em;
  position: relative;
  top: -16.5em;
}
.dropdown_menu li:nth-child(19) {
  float: left;
  margin: -35.2em 0 0 50em;
}
.dropdown_menu li:nth-child(n + 20):nth-child(-n + 27) {
  margin: 0 0 0 50em;
  position: relative;
  top: -33.2em;
}
.dropdown_menu li:nth-child(28) {
  display: hidden;
}
@media only screen and (max-width: 400px) {
  .dropdown_menu li:nth-child(n) {
    margin: 0 0 0.5em 0 !important;
    float: none !important;
    position: relative !important;
    top: 0 !important;
  }
}
.dropdown_menu li a {
  color: #333;
  display: block;
  height: 1.571em;
  line-height: 1.571em;
  width: 92%;
  margin: 0.26em 0;
  border-radius: 6px;
  -webkit-transition: box-shadow, background 0.195s ease;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.dropdown_menu li a:hover {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  padding: 0 0.286em 0 0.357em;
  width: 95%;
  margin-left: -5px;
  color: #333;
  background: #e5e5e5;
}
.dropdown_menu li a .quantity {
  background: #e5e5e5;
  border-radius: 6px;
  float: right;
  font-size: 0.857em;
  height: 1.75em;
  line-height: 1.8;
  margin: 0;
  padding: 0 0.571em;
  width: 2.857em;
  text-align: center;
}
#subcategoria_mobile h2 {
  padding-left: 10px;
  margin-bottom: 0px;
}
