/**
* Layout
* @module layout
*/
.one_half,
.one_third,
.two_thirds,
.one_quarter,
.fullsize,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11 {
  *zoom: 1;
}
.one_half:before,
.one_third:before,
.two_thirds:before,
.one_quarter:before,
.fullsize:before,
.grid_2:before,
.grid_3:before,
.grid_4:before,
.grid_5:before,
.grid_6:before,
.grid_7:before,
.grid_8:before,
.grid_9:before,
.grid_10:before,
.grid_11:before,
.one_half:after,
.one_third:after,
.two_thirds:after,
.one_quarter:after,
.fullsize:after,
.grid_2:after,
.grid_3:after,
.grid_4:after,
.grid_5:after,
.grid_6:after,
.grid_7:after,
.grid_8:after,
.grid_9:after,
.grid_10:after,
.grid_11:after {
  content: '';
  display: table;
}
.one_half:after,
.one_third:after,
.two_thirds:after,
.one_quarter:after,
.fullsize:after,
.grid_2:after,
.grid_3:after,
.grid_4:after,
.grid_5:after,
.grid_6:after,
.grid_7:after,
.grid_8:after,
.grid_9:after,
.grid_10:after,
.grid_11:after {
  clear: both;
}
.btn {
  *display: inline;
  *zoom: 1;
  background: #cc1316;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 1.143em/1.143em 'OpenSans-Regular', 'arial', 'sans-serif';
  outline: none;
  padding: 8px 20px;
  vertical-align: middle;
  transition: color, background 0.3s ease-in;
  -webkit-transition: color, background 0.3s ease-in;
  -moz-transition: color, background 0.3s ease-in;
}
.btn:hover {
  background: #a70000;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}
.btn.disabled {
  background: #999 !important;
  border: #eee !important;
  color: #eee !important;
  cursor: default;
  pointer-events: none;
}
.btn.disabled:hover {
  background: #ddd;
  border: #eee;
}
.btn + .btn {
  margin-left: 8px;
}
.btn_mini {
  padding: 6px 12px;
}
.btn_small {
  font-size: 1em;
  height: 1.714em;
  line-height: 1.7em;
  padding: 0 8px;
}
.btn_medium {
  font-size: 1.714em;
  height: 40px;
  line-height: 40px;
  padding: 0 2em;
}
.btn_large {
  padding: 0.5em;
  font-family: 'OpenSans-Bold', 'arial', 'sans-serif';
  border-radius: 6px;
}
.btn_black {
  background: #4c4c4c;
}
.btn_black:hover {
  background: #333;
}
.btn_grey {
  background: #666;
}
.btn_grey:hover {
  background: #4c4c4c;
}
.content_baner {
  margin: 0 auto 10px;
  padding-top: 10px;
  width: 1000px;
}
.content_baner:empty {
  margin: 0 auto 0px;
  padding-top: 0px;
}
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.eot");
  src: url("../../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("../../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.ttf") format('truetype'), url("../../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.woff") format('woff'), url("../../../fonts/OpenSans-Bold/OpenSans-Bold-webfont.svg#OpenSans-Bold") format('svg');
}
@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../../fonts/OpenSans-Regular/OpenSans-Regular-webfont.eot");
  src: url("../../../fonts/OpenSans-Regular/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../../../fonts/OpenSans-Regular/OpenSans-Regular-webfont.ttf") format('truetype'), url("../../../fonts/OpenSans-Regular/OpenSans-Regular-webfont.woff") format('woff'), url("../../../fonts/OpenSans-Regular/OpenSans-Regular-webfont.svg#OpenSans-Regular") format('svg');
}
form {
  width: 100%;
  margin: 30px auto 0;
  text-align: left;
  font-size: 1em;
}
form.vertical label {
  display: block;
  float: none;
  line-height: 1.3em;
}
form.vertical label.ioption {
  float: left;
  font-size: 1em;
  margin-left: 70px;
}
form.vertical label.ioption:first-child {
  margin: 0;
}
form.vertical label.ioption.ck {
  padding-right: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}
form.vertical input[type="text"],
form.vertical input[type="email"],
form.vertical input[type="tel"],
form.vertical input[type="password"],
form.vertical select {
  width: 100%;
}
form.vertical textarea {
  width: 100%;
}
form.vertical .btn {
  margin: 0;
}
form.nolabel label {
  display: none;
}
form.nolabel label.ioption {
  display: block;
  font-size: 1em;
  line-height: 18px;
  margin-left: 60px;
  width: 80px;
}
form.nolabel label.ioption input[type="radio"] {
  top: 4px;
}
form.nolabel label.ioption:first-child {
  margin: 0;
}
form.nolabel label.ioption.ck {
  padding-right: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}
form.nolabel input[type="text"],
form.nolabel input[type="email"],
form.nolabel input[type="tel"],
form.nolabel input[type="password"],
form.nolabel select {
  width: 100%;
}
form.nolabel textarea {
  width: 100%;
}
form.nolabel .btn {
  margin: 0;
}
.form_control {
  margin-bottom: 0.5em;
  *zoom: 1;
}
.form_control .form_control_inline .form_control {
  float: left;
  margin-left: 1em;
}
.form_control .form_control_inline .form_control:first-child {
  margin-left: 0 !important;
}
.form_control:before,
.form_control:after {
  display: table;
  content: "";
  line-height: 0;
}
.form_control:after {
  clear: both;
}
.form_control label {
  margin: 0;
  float: left;
  font-size: 1em;
  line-height: 35px;
  width: 12em;
}
.form_control label.nbsp:after {
  content: "\00a0";
}
.form_control label.ioption {
  cursor: pointer;
  line-height: 35px;
  padding-left: 20px;
  position: relative;
  width: 11em;
}
.form_control label.ioption input[type="radio"],
.form_control label.ioption input[type="checkbox"] {
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
}
.form_control label.ioption.ck {
  font-size: 0.929em;
  line-height: 1.5em;
  margin-left: 12.5em;
  width: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
.form_control label.ioption.ck input[type="checkbox"] {
  top: 2px;
}
.form_control label .required {
  color: #ed0a0d;
  font-size: 1.1em;
}
.form_control input[type="text"],
.form_control input[type="email"],
.form_control input[type="tel"],
.form_control input[type="password"],
.form_control select,
.form_control textarea {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font: 1em/2em 'OpenSans-Regular', 'arial', 'sans-serif';
  height: 30px;
  outline: none;
  padding-left: 6px;
  padding-right: 6px;
  width: 300px;
}
.form_control input[type="text"].error,
.form_control input[type="email"].error,
.form_control input[type="tel"].error,
.form_control input[type="password"].error,
.form_control select.error,
.form_control textarea.error {
  background-color: #fcdddd;
  border: 1px solid #fc7d7d;
}
.form_control input[type="text"].disabled,
.form_control input[type="email"].disabled,
.form_control input[type="tel"].disabled,
.form_control input[type="password"].disabled,
.form_control select.disabled,
.form_control textarea.disabled {
  background: #e5e5e5;
  border: 1px solid #ddd;
}
.form_control textarea {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font: 1em/2em 'OpenSans-Regular', 'arial', 'sans-serif';
  height: 70px;
  padding: 7px 10px;
  width: 300px;
}
.form_control textarea.error {
  background-color: #fcdddd;
  border: 1px solid #fc7d7d;
}
.input_xlarge {
  width: 500px !important;
}
.input_large {
  width: 250px !important;
}
.input_medium {
  width: 205px !important;
}
.input_small {
  width: 100px !important;
}
.input_xsmall {
  width: 80px !important;
}
[class*="grids-"] {
  float: left;
  margin-left: 20px;
}
[class*="grids-"]:first-child {
  margin: 0;
}
[class*="grids-"] .urb_title {
  font-size: 20px;
}
.grids {
  *zoom: 1;
}
.grids:before,
.grids:after {
  display: table;
  content: "";
  line-height: 0;
}
.grids:after {
  clear: both;
}
.grids .grids_4 {
  margin-top: 20px;
}
.grids .grids_4:nth-child(3n+1) {
  margin-left: 0;
}
.grids .grids_4:nth-child(-n+3) {
  margin-top: 0;
}
.grids_2 {
  width: 140px;
}
.grids_3 {
  width: 220px;
}
.grids_4 {
  width: 300px;
}
.grids_4.mt12 {
  margin-top: 12px;
}
.grids_5 {
  width: 380px;
}
.grids_6 {
  width: 460px;
}
.grids_7 {
  width: 540px;
}
.grids_8 {
  width: 620px;
}
.grids_9 {
  width: 700px;
}
.grids_9 .grids_3:nth-child(3n+1) {
  margin: 0;
}
.grids_10 {
  width: 780px;
}
@-moz-document url-prefix() {
  table {
    border-collapse: separate;
  }
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #fff;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
.fancybox-prev span,
.fancybox-next span {
  background-image: url("../../../img/plugins/fancybox_sprite.png?version");
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../../../img/loader.gif?version") center center no-repeat;
  background-size: 24px 24px;
  border-radius: 50%;
}
.fancybox-close {
  position: absolute;
  background-image: url("../../../img/sprite.png?version");
  background-position: -114px -233px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 8040;
  top: 15px;
  right: 15px;
}
.fancybox-close:hover {
  opacity: 0.7;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../../../img/plugins/blank.gif?version");
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-prev {
  left: 0;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next {
  right: 0;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../../../img/plugins/fancybox_overlay.png?version");
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0,0,0,0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.8);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url("../../../img/plugins/fancybox_sprite@2x.png?version");
    background-size: 44px 152px;
  }
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider {
  margin: 0;
  padding: 0;
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  zoom: 1;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: 'OpenSans-Regular', 'arial', 'sans-serif';
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
.no-js .slides > li:first-child {
  display: block;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0,0,0,0.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.flex-direction-nav a:before {
  font-family: 'OpenSans-Regular', 'arial', 'sans-serif';
  font-size: 40px;
  display: inline-block;
  content: '\f001';
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
  opacity: 1;
  right: 10px;
}
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  cursor: default;
}
.flex-direction-nav {
  *height: 0;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0,0,0,0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0,0,0,0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: 0.7;
  cursor: pointer;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

	@keyframes shake {

		0% {
			transform: translate(3px, 0);
		}

		50% {
			transform: translate(-3px, 0);
		}

		100% {
			transform: translate(0, 0);
		}
	}

	@-moz-keyframes shake {

		0% {
			-moz-transform: translate(3px, 0);
		}

		50% {
			-moz-transform: translate(-3px, 0);
		}

		100% {
			-moz-transform: translate(0, 0);
		}
	}

	@-webkit-keyframes shake {
		0% {
			-webkit-transform: translate(3px, 0);
		}

		50% {
			-webkit-transform: translate(-3px, 0);
		}

		100% {
			-webkit-transform: translate(0, 0);
		}
	}

	.shake {
		animation-name: shake;
		animation-duration: 150ms;
		animation-iteration-count: 2;
		animation-timing-function: linear;
		-moz-animation-name: shake;
		-moz-animation-duration: 150ms;
		-moz-animation-iteration-count: 2;
		-moz-animation-timing-function: linear;
		-webkit-animation-name: shake;
		-webkit-animation-duration: 150ms;
		-webkit-animation-iteration-count: 2;
		-webkit-animation-timing-function: linear;
	}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847 !important;
  background-color: #dff0d8 !important;
  border: 1px solid #a7c79b !important;
}
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #b94a48 !important;
  background-color: #f2dede !important;
  border: 1px solid #eed3d7 !important;
}
.parsley-error,
.parsley-type,
.parsley-required,
.parsley-custom-error-message {
  animation-name: shake;
  animation-duration: 150ms;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 150ms;
  -moz-animation-iteration-count: 2;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 150ms;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}
.custom_error .parsley-errors-list {
  margin-bottom: 1em;
}
.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
  -moz-transition: all 0.3s ease-in !important;
  -o-transition: all 0.3s ease-in !important;
  -ms-transition: all 0.3s ease-in- !important;
  -moz-transition: all 0.3s ease-in !important;
  -webkit-transition: all 0.3s ease-in !important;
}
.parsley-errors-list.filled {
  opacity: 1;
}
.parsley-errors-list:empty {
  margin: 0;
}
.parsley-errors-list li {
  font-size: 11px;
  color: #b94a4a;
}
.slider .slidesjs-container {
  z-index: -999999;
}
.slider .slidesjs-container img {
  width: 100%;
  height: 418px;
}
.slider .slidesjs-previous,
.slider .slidesjs-next {
  display: block;
  padding: 0;
  position: absolute;
  outline: 0;
  top: 50%;
  margin: -20px 0 0 0;
  z-index: 11;
  text-indent: -9999px;
  opacity: 0.3;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in;
}
.slider .slidesjs-previous:hover,
.slider .slidesjs-next:hover {
  opacity: 1;
}
.slider .slidesjs-previous {
  left: 15px;
  background-image: url("../../../img/sprite.png?version");
  background-position: 0px -250px;
  width: 40px;
  height: 40px;
}
.slider .slidesjs-next {
  right: 15px;
  background-image: url("../../../img/sprite.png?version");
  background-position: -80px -250px;
  width: 40px;
  height: 40px;
}
.navbar {
  overflow: hidden;
}
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bx-wrapper .bx-viewport {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
}
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("../../../img/loader.gif?version") center center no-repeat #f4f3ef;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: 0.85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../../../img/plugins/glide-arrows.png?version") no-repeat 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url("../../../img/plugins/glide-arrows.png?version") no-repeat -17px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  outline: 0;
  width: 18px;
  height: 28px;
  text-indent: -9999px;
  z-index: 500;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("images/controls.png") -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666 9;
  background: rgba(80,80,80,0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: 0.85em;
  padding: 10px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
.nano {
  position: relative;
  width: 100%;
  height: 335px;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .nano-pane {
  background: url("../../../img/scroll_bg.png?version") center top repeat-y;
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden 9;
/* Target only IE7 and IE8 with this hack */
  opacity: 0.01;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #d0c3af;
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible 9;
/* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
.ps-container .ps-scrollbar-x-rail {
  position: absolute;
  bottom: 3px;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
}
.ps-container .ps-scrollbar-x-rail.in-scrolling {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container .ps-scrollbar-y-rail {
  background: #b39684;
  border-radius: 4px;
  position: absolute;
  right: 3px;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
  background-color: #eee;
  opacity: 0.9;
}
.ps-container .ps-scrollbar-x {
  position: absolute;
  bottom: 0;
  height: 8px;
  background-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
}
.ps-container.ie6 .ps-scrollbar-x {
  font-size: 0;
}
.ps-container.ie6 .ps-scrollbar-y {
  font-size: 0;
}
.ps-container .ps-scrollbar-y {
  position: absolute;
  right: -3px;
  width: 10px;
  background-color: #b39684;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}
body {
  min-width: 1000px;
}
@media only screen and (max-width: 400px) {
  body {
    min-width: 0px;
  }
}
a:hover,
a:active {
  outline: 0;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
  line-height: 1.5em;
}
img {
  max-width: 100%;
  width: auto 9;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
label,
select,
button,
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
form {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
b,
strong {
  font-family: 'OpenSans-Bold', 'arial', 'sans-serif';
  font-weight: normal;
}
p {
  margin: 0;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.5em;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb40 {
  margin-bottom: 40px;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt100 {
  margin-top: 100px;
}
.mt1000 {
  margin-top: 1000px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mr0 {
  margin-right: 0;
}
.relative {
  position: relative;
}
.fs20 {
  font-size: 20px;
}
.fs24 {
  font-size: 24px;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.hide {
  display: none;
}
.cb {
  clear: both;
}
.top60 {
  top: 60px !important;
}
.top160 {
  top: 160px !important;
}
.block {
  display: block;
}
.inline_block {
  display: inline-block;
}
.lh2em {
  line-height: 2em;
}
.lh0 {
  line-height: 0;
}
.one_half {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 49%;
  margin-left: 0%;
  margin-right: 2%;
}
.one_half:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.one_third {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.999999999999964%;
  margin-left: 0%;
  margin-right: 2%;
}
.one_third:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.two_thirds {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 66.00000000000003%;
  margin-left: 0%;
  margin-right: 2%;
}
.two_thirds:last-child {
  margin-right: 0%;
}
.one_quarter {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 23.5%;
  margin-left: 0%;
  margin-right: 2%;
}
.one_quarter:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
.fullsize {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 2%;
}
.fullsize:nth-child(1n) {
  margin-right: 0%;
  float: right;
}
.grid_2 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 15.000000000000034%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_2:last-child {
  margin-right: 0%;
}
.grid_3 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 23.5%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_3:last-child {
  margin-right: 0%;
}
.grid_4 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.999999999999964%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_4:last-child {
  margin-right: 0%;
}
.grid_5 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 40.500000000000036%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_5:last-child {
  margin-right: 0%;
}
.grid_6 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 49%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_6:last-child {
  margin-right: 0%;
}
.grid_7 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 57.499999999999964%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_7:last-child {
  margin-right: 0%;
}
.grid_8 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 66.00000000000003%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_8:last-child {
  margin-right: 0%;
}
.grid_9 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.5%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_9:last-child {
  margin-right: 0%;
}
.grid_10 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 82.99999999999997%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_10:last-child {
  margin-right: 0%;
}
.grid_11 {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 91.50000000000003%;
  margin-left: 0%;
  margin-right: 2%;
}
.grid_11:last-child {
  margin-right: 0%;
}
.banner_offers a {
  display: block;
  padding: 1em 0;
  text-align: center;
}
.bold {
  font-family: 'OpenSans-Bold', 'arial', 'sans-serif';
  transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
}
.box_info {
  background: #fcf8e3;
  border: 2px solid #ebdfc8;
  color: #c09853;
  font-family: 'OpenSans-Regular', 'arial', 'sans-serif';
  font-size: 1em;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
  border-radius: 4px;
}
.box_info.error {
  background: #f2dede;
  border: 2px solid #eed3d7;
  color: #b94a48;
}
.loader {
  background: url("../../../img/opacity.png?version") repeat;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.loader.fix {
  background: #fff;
}
.loader span {
  background: url("../../../img/loader.gif?version") no-repeat;
  display: block;
  height: 24px;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
  width: 24px;
}
